<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobfinder.persistence.CompanyMapper">

    <select id="listmain" parameterType="Criteria" resultType="CompanyList">
        select a.company_id, company_logo, company_name, company_industry, company_type, count(review_seq) as reviewcount,
        ifnull(TRUNCATE((avg(welfare)+avg(inner_culture)+avg(work_life_balance)+avg(p_opportunity)+avg(management))/5,1),0) as totalstar, ifnull(truncate(avg(my_salary),0),0) as avgsalary
        from company_detail a left join reviews b on a.company_id = b.company_id
        group by a.company_id, company_name, company_industry, company_type, company_logo order by totalstar desc limit #{pageStart}, #{perPageNum}
    </select>

    <select id="listsearch" parameterType="Criteria" resultType="CompanyList">
        select a.company_id, company_logo, company_name, company_industry, company_type, count(review_seq) as reviewcount,
        ifnull(TRUNCATE((avg(welfare)+avg(inner_culture)+avg(work_life_balance)+avg(p_opportunity)+avg(management))/5,1),0) as totalstar, ifnull(truncate(avg(my_salary),0),0) as avgsalary
        from company_detail a left join reviews b on a.company_id = b.company_id
        where company_name like concat('%',#{keyword},'%')
        group by a.company_id, company_name, company_industry, company_type, company_logo order by totalstar desc limit #{pageStart}, #{perPageNum}

    </select>

    <select id="list" parameterType="Criteria"  resultType="CompanyList">
        select a.company_id, company_logo, company_name, company_industry, company_type, count(review_seq) as reviewcount,
        ifnull(TRUNCATE((avg(welfare)+avg(inner_culture)+avg(work_life_balance)+avg(p_opportunity)+avg(management))/5,1),0) as totalstar, ifnull(truncate(avg(my_salary),0),0) as avgsalary
        from company_detail a left join reviews b on a.company_id = b.company_id  where industry_class=#{industry_class} group by a.company_id, company_logo, company_name, company_industry, company_type order by totalstar desc limit #{pageStart}, #{perPageNum};
    </select>

    <select id="countmain" resultType="int">
        select count(*) from company_detail
    </select>

    <select id="countsearch" parameterType="String" resultType="int">
        select count(*) from company_detail where company_name like concat('%',#{keyword},'%')
    </select>

    <select id="count" parameterType="String" resultType="int">
        select count(industry_class) as counting from company_detail where industry_class = #{indus_class}
    </select>


    <select id="detail" parameterType="String" resultType="Company_info">
        select * from company_detail where company_id = #{company_id}
    </select>

    <select id="review" parameterType="Reviews" resultType="Reviews">
        select a.review_seq,company_id,review_content,reg_date,a.mem_id,welfare,work_life_balance,
        inner_culture,p_opportunity,management,pros,cons,my_salary,current_yn, count(like_seq) as countlike,
        (select count(*) from review_like where review_seq=a.review_seq and mem_id=#{mem_id}) as like_check
        from reviews a left join review_like b on a.review_seq = b.review_seq
        where company_id=#{company_id} group by a.review_seq,company_id,review_content,review_likes,reg_date,a.mem_id,pros;
    </select>

    <select id="countreview" parameterType="String" resultType="int">
        select count(*) as countreview from reviews where company_id=#{company_id}
    </select>


    <select id="avg" parameterType="String" resultType="Reviews">
        select ifnull(TRUNCATE(avg(welfare),1),0) AS welfare, ifnull(TRUNCATE(avg(work_life_balance),1),0) as work_life_balance, ifnull(TRUNCATE(avg(inner_culture),1),0) as inner_culture,ifnull(TRUNCATE(avg(p_opportunity),1),0) as p_opportunity, ifnull(TRUNCATE(avg(management),1),0) as management,
        ifnull(TRUNCATE((avg(welfare)+avg(inner_culture)+avg(work_life_balance)+avg(p_opportunity)+avg(management))/5,2),0) as totalstar, ifnull(TRUNCATE(avg(my_salary),0),0) as avgsalary from reviews where company_id = #{company_id}
    </select>

    <insert id="save" parameterType="Reviews">
        insert into reviews (company_id, review_content, review_likes, reg_date, mem_id, welfare, work_life_balance, inner_culture, p_opportunity, management, pros, cons, my_salary, current_yn)
        values (#{company_id}, #{review_content}, 0, NOW(), #{mem_id}, #{welfare}, #{work_life_balance}, #{inner_culture}, #{p_opportunity}, #{management}, #{pros}, #{cons}, #{my_salary}, #{current_yn})
    </insert>

    <select id="gongo" parameterType="String" resultType="Recruit">
        select * from recruit where company_id = #{company_id}
    </select>
    <select id="countgongo" parameterType="String" resultType="int">
        select count(*) as countgongo from recruit where company_id = #{company_id}
    </select>


    <select id="likecheck" parameterType="Review_like" resultType="int">
        select count(*) as like_check from review_like where mem_id = #{mem_id} and review_seq = #{review_seq}
    </select>

    <insert id="likeinsert" parameterType="Review_like">
        insert into review_like (mem_id,review_seq) values (#{mem_id},#{review_seq})
    </insert>

    <delete id="likedelete" parameterType="Review_like">
        delete from review_like where mem_id = #{mem_id} and review_seq = #{review_seq}
    </delete>



</mapper>