<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobfinder.persistence.CompanyMapper">

    <select id="list" parameterType="Criteria"  resultType="Company_info">
        select * from company_detail
        where industry_class = #{industry_class} limit #{pageStart}, #{perPageNum}
    </select>
    <select id="count" parameterType="String" resultType="int">
        select count(industry_class) as counting from company_detail where industry_class = #{indus_class}
    </select>


    <select id="detail" parameterType="String" resultType="Company_info">
        select * from company_detail where company_id = #{company_id}
    </select>

    <select id="review" parameterType="String" resultType="Reviews">
        select * from reviews where company_id = #{company_id} order by reg_date desc;
    </select>

    <select id="countreview" parameterType="String" resultType="int">
        select count(*) as countreview from reviews where company_id=#{company_id}
    </select>


    <select id="avg" parameterType="String" resultType="Reviews">
        select ifnull(TRUNCATE(avg(welfare),1),0) AS welfare, ifnull(TRUNCATE(avg(work_life_balance),1),0) as work_life_balance, ifnull(TRUNCATE(avg(inner_culture),1),0) as inner_culture,ifnull(TRUNCATE(avg(p_opportunity),1),0) as p_opportunity, ifnull(TRUNCATE(avg(management),1),0) as management,
        ifnull(TRUNCATE((avg(welfare)+avg(inner_culture)+avg(work_life_balance)+avg(p_opportunity)+avg(management))/5,2),0) as totalstar, TRUNCATE(avg(my_salary),0) as avgsalary from reviews where company_id = #{company_id}
    </select>

    <insert id="save" parameterType="Reviews">
        insert into reviews (company_id, review_content, review_likes, reg_date, mem_id, welfare, work_life_balance, inner_culture, p_opportunity, management, pros, cons, my_salary, current_yn)
        values (#{company_id}, #{review_content}, 0, NOW(), #{mem_id}, #{welfare}, #{work_life_balance}, #{inner_culture}, #{p_opportunity}, #{management}, #{pros}, #{cons}, #{my_salary}, #{current_yn})
    </insert>

    <select id="gongo" parameterType="String" resultType="Recruit">
        select * from recruit where company_id = #{company_id}
    </select>
    <select id="countgongo" parameterType="String" resultType="int">
        select count(*) as countgongo from recruit where company_id = #{company_id}
    </select>


    <sql id="search">
        where company_name like concat('%',#{keyword},'%')
    </sql>

</mapper>