<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobfinder.persistence.loginMapper">

    <select id="loginList" resultType="LoginVO" parameterType="String">
        select * from members where mem_id = #{mem_id}
    </select>

    <select id="id_check" resultType="String" parameterType="String">
        select mem_id members where mem_id = #{insert_id}
    </select>

</mapper>