<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobfinder.persistence.ResumeMapper">

    <!-- 이력서 등록 -->
    <insert id="resume_add" parameterType="Resume">
        insert into resume(sc_type, univ_type, sc_name, sc_sdate, sc_edate, sc_graduate, sc_major, sc_score, max_score, members_mem_id, portfolio, reg_date, resume_name)
        values(#{sc_type}, #{univ_type}, #{sc_name}, #{sc_sdate}, #{sc_edate}, #{sc_graduate}, #{sc_major}, #{sc_score}, #{max_score}, #{members_mem_id}, #{portfolio}, now(), #{resume_name})
    </insert>

    <select id="resume_num" parameterType="String" resultType="int">
        select seq from resume where members_mem_id = #{members_mem_id} order by reg_date desc limit 1;
    </select>

    <insert id="career_add" parameterType="Career">
        insert into career(ca_name, ca_sdate, ca_edate, ca_type, ca_dept, ca_position, ca_salary, ca_duty, resume_seq)
        values(#{ca_name}, #{ca_sdate}, #{ca_edate}, #{ca_type}, #{ca_dept}, #{ca_position}, #{ca_salary}, #{ca_duty}, #{resume_seq})
    </insert>

    <insert id="cert_add" parameterType="Certificate">
        insert into certification(ce_name, ce_agency, ce_date, resume_seq)
        values(#{ce_name}, #{ce_agency}, #{ce_date}, #{resume_seq})
    </insert>

    <insert id="lang_add" parameterType="Language">
        insert into language(la_type, la_name, la_score, la_grade, la_check, la_date, resume_seq)
        values(#{la_type}, #{la_name}, #{la_score}, #{la_grade}, #{la_check}, #{la_date}, #{resume_seq})
    </insert>

    <insert id="awards_add" parameterType="Awards">
        insert into awards(aw_name, aw_agency, aw_date, resume_seq)
        values(#{aw_name}, #{aw_agency}, #{aw_date}, #{resume_seq})
    </insert>


    <!-- 이력서 관리 -->
    <select id="resume_list" resultType="Resume">
        select * from resume where members_mem_id = #{members_mem_id} order by reg_date desc;
    </select>

    <delete id="delete_resume">

    </delete>


    <!-- 이력서 수정 -->
    <select id="get_resume" resultType="Resume">
        select * from resume where seq=#{seq};
    </select>

    <select id="get_awards" resultType="Awards">
        select * from awards where seq=#{seq};
    </select>

    <select id="get_cert" resultType="Certificate">
        select * from certification where seq=#{seq};
    </select>

    <select id="get_career" resultType="Career">
        select * from career where seq=#{seq};
    </select>

    <select id="get_lang" resultType="Language">
        select * from language where seq=#{seq};
    </select>


    <update id="resume_edit" parameterType="Resume">
        update resume set
        sc_type=#{sc_type}, univ_type=#{univ_type}, sc_name=#{sc_name}, sc_sdate=#{sc_sdate}, sc_edate=#{sc_edate}, sc_graduate=#{sc_graduate}, sc_major=#{sc_major},
        sc_score=NULLIF(#{sc_score}, ''), max_score=NULLIF(#{max_score}, ''), members_mem_id=#{members_mem_id}, portfolio=#{portfolio}, reg_date=now(), resume_name=#{resume_name}
        where seq=#{seq}
    </update>

    <update id="career_edit" parameterType="Career">
        update career set
        ca_name=#{ca_name}, ca_sdate=#{ca_sdate}, ca_edate=#{ca_edate}, ca_type=#{ca_type}, ca_dept=#{ca_dept},ca_position=#{ca_position}, ca_salary=NULLIF(#{ca_salary}, ''), ca_duty=#{ca_duty},
        where resume_seq=#{resume_seq};
    </update>

    <update id="cert_edit" parameterType="Certificate">
        update certification set
        ce_name=#{ce_name}, ce_agency=#{ce_agency}, ce_date=#{ce_date}
        where resume_seq=#{resume_seq};
    </update>

    <update id="lang_edit" parameterType="Language">
        update language set
        la_type=#{la_type}, la_name=#{la_name}, la_score=#{la_score}, la_grade=#{la_grade}, la_check=#{la_check}, la_date=#{la_date}
        where resume_seq=#{resume_seq};
    </update>

    <update id="awards_edit" parameterType="Awards">
        update awards set
        aw_name=#{aw_name}, aw_agency=#{aw_agency}, aw_date=#{aw_date}
        where resume_seq=#{resume_seq};
    </update>



</mapper>