.c_icon{
    box-shadow: 1px 1px 5px grey;
}

.detail4 {
    height:70px;
    padding-top:25px;
}

.hmcontent {
    margin:auto;
}

.company_list{
    text-align: center;
    vertical-align: middle;
}

.boxed-btn:hover {
    background-color:#007bff;!important;
    border : 1px solid #38a4ff!important;
    color:white!important;
}

a: hover{
    color:#38a4ff!important;
}

.boxed-btn{
    border : 1px solid #38a4ff!important;
}

.job-title {
    float:right;
}