.c_icon{
    width:100px;
    height:100px;
    box-shadow: 1px 1px 5px grey;
}

.detail4 {
    height:70px;
    padding-top:25px;
}

.hmcontent {
    margin:auto;
}

.company_list{
    text-align: center;
    vertical-align: middle;
}

.boxed-btn:hover {
    background-color:#007bff;!important;
    border : 1px solid #38a4ff!important;
    color:white!important;
}

a: hover{
    color:#38a4ff!important;
}

.boxed-btn{
    border : 1px solid #38a4ff!important;
}

.job-title {
    float:right;
}

.company_list td{
    width:200px;
    vertical-align:middle;
}

.table td, .table th {
    border-top:none!important;
}
.table{
    margin-bottom:0px !important;
}

.tab1 td{
    padding-bottom: 0px;
}

.tab2 td{
    padding-top: 0px;
}

.wrapper {
  width: 700px;
  height: 500px;
  background:url('/img/rev.png')no-repeat center center;
  background-size: contain;
  margin:auto;
}

.wrapper>div {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .1);
}

.blur {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
}

.blur p{
    margin-top: -111px;
}

.tq {
   display: block !important;
}

.single_sidebar_widget {
    background-color: white !important;
}

.moabogi button {
    color : black !important;
}

.job-tittle img{
    width:20px;
    margin-right:5px;
    pointer-events:none;
}

.job-tittle ul {
    margin-top:17px;
}

.bigcont {
    pointer-events : none;
}