.d-category-list{
    display:block;
    border:0px solid;
    float:left;
}
.r-list-button{
    width:100%;
    color:#000000;
    font-size:15px;
    text-align:center;
    background-color:transparent;
    border:0px;
    padding:3px;
}

.j-list-button{
    width:100%;
    color:#000000;
    font-size:15px;
    text-align:center;
    background-color:transparent;
    border:0px;
    padding:3px;
}

.r-list-button.active{
    color:#39f;
    background-color:#e7f5ff;
    border:1px;
    border-bottom:0px;
}

.j-list-button.active{
    color:#39f;
    background-color:#e7f5ff;
    border:1px;
    border-bottom:0px;
}

.d-nav{
    border:1px !important;
    background-color:#white;
}

.d-nav.active{
    background-color:#00BFFF !important;
}

.d-nav:hover{
    text-decoration:none
    border:0px;
    background-color:#e7f5ff;
}

.d-ul{
    border:1px;
}

.d-li{
    outline:1px solid black;
    width:300px;
    height:40px;
    float:left;
}

.d-li.active{
    width:300px;
    height:40px;
    float:left;
    border-bottom-color:white !important;
    z-index:1;
}

.d-button{
    width:100%;
    height:100%;
    color:black;
    text-align:left;
    background-color:white;
    border:0px;
    outline:0;
}

.searchText{
    display:inline-block;
    width:303px;
    height:40px;
    border: 1px solid #dbdbdb;;
}

.detail_list{
    overflow:auto;
    width:1000px;
    height:300px;
    float:left;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.detail_button{
    width:180px;
    color:#000000;
    font-size:13px;
    text-align:center;
    height:30px;
    background-color:transparent;
    border:0px;
    padding:3px;
}

.list_item{
    margin-left:2px;
    background-image: url(/img/x-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    width:8px;
    height:10px;
    border:none;
}

.selected_keyword{
    font-size:12px;
    margin-right:10px;
}

.search-box > div{
    padding:15px;
}