.head-btn{
    background-color: #38a4ff !important;
}
.head-btn2{
    border: #38a4ff solid 1px !important;
    color: #38a4ff !important;
}
#scrollUp{
    background-color: #38a4ff !important;
}
.body-top{
    padding-top: 30px !important;
}
.input-form{
    width: 35% !important;
}
.select-form{
    width: 25% !important;
}
.search-button{
    font-size: 1.2em !important;
}
.search-form{
    width: 15% !important;
}
.container-inner{
    margin-bottom: 3em !important;
}
.container-inner-padding{
    padding-left: 1em;
}
.box-navy-contents{
    padding-top: 1em;
}
.box-flex{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}
.inner-text{
    height: 2.5em;
}
.box-tel{
    width: 5.1em;
    height: 2.5em;

}
.manager-left{
    width: 15%;
}
.manager-middle{
    margin-right: 10px;
    width: 25%;
}
.background-navy{
    background-color: rgba(0, 0, 128, 0.095);
}
.related_work_time{
    padding-right: 1em;
}
.white-board{
    background-color: #fff !important;
    border-radius: 5px;
    margin-bottom: 2em;
    padding-top: 3em;
}
.white-board2{
    background-color: #fff !important;
    border-radius: 5px;
    margin-bottom: 2em;
    padding-top: 1em;
}
.check_box_big{
    width: 1.2em;
    height: 1.2em;
}
.check-big-label{
    position: relative;
    top: 0.25em;
}
.option-detail{
    width: 100%;
}
.search-div{
    display: flex !important;
    padding-top: -80px;
}
.search-region{
    display: none !important;
}
.search-job{
    display: none !important;
}
.select-region{
    width: 100% !important;
    height: 100% !important;
    background: #fff;
    color: #616875 !important;
    text-align: left;
    border: #fff;
    font-size: 1.1em !important;
}
.select-region-underline{
    border-top: #fff 0 !important;
    border-right: #fff 0 !important;
    border-left: #fff 0 !important;
    border-bottom: #38a4ff solid 5px !important;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
.detail{
    display: flex !important;
    flex-direction: row !important;
    background-color: #fff;
    width: 85%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

}
.select-state{
    border-right: lightgray 0.5px solid;
    width: 25%;
    height: 200px;
    overflow: auto;
}
.first-category{
    float: left;
    width: 49%;
}
.select-city{
    width: 60%;
    padding-left: 5px;
}
.second-category{
    float: left;
    width: 33%;
}

/*채용 공고 페이지 관련*/
.inner-container{
    border: #38a4ff solid 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.5);
}
.border-color{
    border: navy solid 1px;
}
.container-items{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}
.width-full{
    width: 100% !important;
}
.text-left{
    text-align: left;
}
.text-bold{
    font-weight: bold;
}
.color-red{
    font-size: 0.7rem;
    color: red ;
}
.color-black{
    color: gray !important;
}
.link-underline{
    text-decoration: underline;
}
.btn-text{
    font-size: 1em;
}
.between-inner-contents{
    margin-bottom: 1em;
}
.work_per_week{
    width: 3em;
}

.check-for-center{
    position: relative;
    top: 0.25em;
}

/*---------------------Summer Note-----------------------------------*/
@font-face {
    font-family: 'NotoSansKR';
    src: url('font/NotoSansKR-Black.otf') format('opentype')
}
