.job-change input[type=radio] {
    display: none;
}

#job-tab-1:checked~.job-tab label:nth-child(1),
#job-tab-2:checked~.job-tab label:nth-child(2) {
    /* background-color: rgba(0, 0, 0, 0.2); */
    box-shadow: none;
    border-bottom: 4px solid #38a4ff;
}

.job-message>div {
    display: none;
}

#job-tab-1:checked~.job-message div:nth-child(1),
#job-tab-2:checked~.job-message div:nth-child(2) {
    display: block;
}

.job-change {
    margin: 0 auto;
    max-width: 100%;
}

.job-tab {
    overflow: hidden;
}

.job-tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.job-message {
    min-height: 800px;
}

.job-message>div {
    padding: 30px;
    line-height: 1.5;
    font-size: 17px;
}

.single-job-items .company-img img {
    overflow: hidden;
    float: left;
    margin-right: 20px !important;
    z-index: 999;
    width: 85px !important;
    height: 85px !important;
}

.apply-btn2{
    text-align : center !important;
}

.img_logo{
    width: 20px;
    height: 20px;
}

.company_image{
    max-width: 100%;
    height:auto;
}

#slidemenu{
    width : 290px;
    height : 330px;
    position : absolute;
}
#dday{
    text-align : center;
}

.smallsection h5{
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}

.post-details3 ul li {
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 12px
}

.job-items {
    display: flex;
    justify-content:center !important;
    flex-wrap: wrap
}

.single-job-items {
    padding: 36px 30px;
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.post-details3 ul li:last-child {
    margin-bottom: 20px !important;
}

.notice_r{
    width : 620px;
    text-overflow:ellipsis;
    overflow:hidden;
}

.notice_table{
    width : 620px;
    height : 120px;
    table-layout : fixed;
}

.notice_td1{
    width : 120px !important;
    table-layout:fixed;
}

.notice_td2{
    width : 170px !important;
    /*text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;*/
    table-layout:fixed;
}

.notice_td3{
    width : 130px !important;
    table-layout:fixed;
}

.deadline{
    width : 144px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.notice_table2{
     width : 440px;
     height : 120px;
     table-layout : fixed;
 }

/* #detail_title{
    display:none;
    border:1px solid black;
    width: 720px;
    height : 930px;
 }

 .detail_img{
    display:table-cell;
    vertical-align:middle;
 }

 .detail_img>img{
    max-width : 700px;
    max-height : 900px;
 }*/

.detail_box{
    overflow : hidden;
 }

