.footer-padding1 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: 250px !important;
}

.footer-bottom-area .footer-border {
    border-top: 1px solid #2d3544 !important;
    padding: 20px 0px 20px !important;
}

.job-change input[type=radio] {
    display: none;
}

#job-tab-1:checked~.job-tab label:nth-child(1),
#job-tab-2:checked~.job-tab label:nth-child(2) {
    /* background-color: rgba(0, 0, 0, 0.2); */
    box-shadow: none;
    border-bottom: 4px solid #38a4ff;
}

.job-message>div {
    display: none;
}

#job-tab-1:checked~.job-message div:nth-child(1),
#job-tab-2:checked~.job-message div:nth-child(2) {
    display: block;
}

.job-change {
    margin: 0 auto;
    max-width: 100%;
}

.job-tab {
    overflow: hidden;
}

.job-tab label {
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.job-message {
    /* background-color: rgba(0, 0, 0, 0.2); */
    min-height: 800px;
}

.job-message>div {
    padding: 30px;
    line-height: 1.5;
    font-size: 17px;
}

.single-job-items .company-img img {
    overflow: hidden;
    float: left;
    margin-right: 20px !important;
    z-index: 999;
    width: 85px !important;
    height: 85px !important;
}

.apply-btn2{
    text-align : center !important;
}

.img_logo{
    width: 20px;
    height: 20px;
}

.company_image{
    max-width: 100%;
    height:auto;
}

#slidemenu{
    width : 290px;
    height : 310px;
    position : absolute;
}
#dday{
    text-align : center;
}

.smallsection h5 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}

.post-details3 ul li {
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 12px
}

.job-items {
    display: flex;
    justify-content:center !important;
    flex-wrap: wrap
}

.single-job-items {
    padding: 36px 30px;
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}