<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/good-job_icon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/c_detail.css?after">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- Header End -->
</header>
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->

    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img th:src="${detail.company_logo}" alt="" class="c_icon"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h1 th:text="${detail.company_name}">삼성전자(주)</h1>
                                </a>
                                <ul>
                                    <li th:text="${detail.company_industry}">전기/전자/제어</li>
                                    <li th:text="${#strings.listSplit(detail.company_address,' ')[0]}"><i class="fas fa-map-marker-alt"></i>서울</li>
                                    <li>대기업</li>
                                </ul>
                            </div>
                        </div>

                        <div class="button-group-area mt-10">
                            <a href="" class="genric-btn primary radius">기업상세</a>
                            <a th:href="@{/companyReview/{company_id}(company_id=${detail.company_id})}"
                               class="genric-btn success-border radius">기업리뷰</a>
                            <a th:href="@{/companyReview/{company_id}(company_id=${detail.company_id})}"
                               class="genric-btn warning-border radius" th:text="'채용공고('+${countgongo}+')'">채용공고(4)</a>
                        </div>

                    </div>
                    <!-- job single End -->


                    <div class="untree_co-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-paper-plane"></span>
                                        <a href="">
                                            <img src="/img/industry_icon.png">
                                            <h3 th:text="${detail.industry_class}">전기/전자/제어</h3>
                                            <p>산업</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-tag"></span>
                                        <a href="">
                                            <img src="/img/company_icon.png">
                                            <h3 th:text="${detail.company_type}">대기업</h3>
                                            <p>기업형태</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-user"></span>
                                        <a href="">
                                            <img src="/img/employee_number_icon.png">
                                            <h3 th:text="${detail.staff_volume}">98,387명 (2013)</h3>
                                            <p>사원수</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-support"></span>
                                        <a href="">
                                            <img src="/img/found_year_icon2.png">
                                            <h3 th:text="${detail.foundation_dt}">1969.01.13</h3>
                                            <p>설립</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>
                    <br>


                    <div class="job-post-details" style="padding-left: 100px; padding-right: 100px;">

                        <div class="post-details1 mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>기업 소개</h4>
                            </div>
                            <p th:text="${detail.company_intro}">삼성전자(주)는 한국 및 CE, IM 부문 산하 해외 9개 지역총괄과 DS 부문 산하 해외 5개
                                지역총괄의 생산,판매법인 등 158개의 동종업종을 영위하는 종속기업으로 구성된 글로벌 전자기업임. 제품 특성에 따라 CE 사업부문, IM 사업부문, DS
                                사업부문 3개의 부문으로 나누어 독립 경영하고 있음. 삼성전자만의 고유 디자인을 바탕으로 프리미엄 리더십과 60인치 이상의 초대형 리더십을 강화하고, 사용자가
                                원하는 컨텐츠를 간편하게 제공하여 Smart TV시장을 주도할 계획. 메모리 판가는 2012년 시장 악화 지속으로 전년 대비 약 40% 하락하였으나
                                2013년에는 수급 안정화로 하락폭이 25%수준으로 둔화 되었음</p>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <div class="small-section-tittle">
                                <h4>대표</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.company_owner}">한종희, 경계현</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <div class="small-section-tittle">
                                <h4>매출</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.total_sales}">158.4조 원 (2013)</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>연혁</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.company_history}">3 or more years of professional design
                                    experience
                                </li>
                                <li>Direct response email experience</li>
                                <li>Ecommerce website design experience</li>
                                <li>Familiarity with mobile and web apps preferred</li>
                                <li>Experience using Invision a plus</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <div class="small-section-tittle">
                                <h4>주소</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.company_address}">경기 수원시 영통구 삼성로 129 (매탄동,주차타워)</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_intro)}">
                            <div class="small-section-tittle">
                                <h4>웹사이트</h4>
                            </div>
                            <ul>
                                <li><a th:href="@{${detail.company_url}}">http://www.samsung.com/sec/</a></li>
                            </ul>
                        </div>


                    </div>

                </div>
                <!-- Right Content -->

            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
<footer>
    <!-- Footer Start-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>
</html>