<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/good-job_icon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css?after">
    <link rel="stylesheet" href="/css/c_detail.css">
    <link rel="stylesheet" href="/css/review.css?after">
    <link rel="stylesheet" href="/css/a.css?after">
    <link rel="stylesheet" href="/css/star.css?after">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/img/good-job_icon.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="job_listing.html">Find a Jobs </a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="#">Page</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="job_details.html">job Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">
                                <a href="#" class="btn head-btn1">Register</a>
                                <a href="#" class="btn head-btn2">Login</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->

    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="asdf">


                    <!-- 맨 위에 기업 정보 크게 띄워주는거 -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img th:src="${detail.company_logo}" alt="" class="c_icon"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h1 th:text="${detail.company_name}">삼성전자(주)</h1>
                                </a>
                                <ul>
                                    <li th:text="${detail.company_industry}">전기/전자/제어</li>
                                    <li th:text="${detail.company_address}"><i class="fas fa-map-marker-alt"></i>서울</li>
                                    <li>대기업</li>
                                </ul>
                            </div>
                        </div>

                        <div class="button-group-area mt-10">
                            <a th:href="@{/companyDetail/{company_id}(company_id=${detail.company_id})}"
                               class="genric-btn primary-border radius">기업상세</a>
                            <a href="" class="genric-btn success radius">기업리뷰</a>
                            <a th:href="@{/companyRecruit/{company_id}(company_id=${detail.company_id})}" class="genric-btn warning-border radius">채용공고(4)</a>
                        </div>

                    </div>
                    <!-- 맨 위에 기업 크게 띄워주는거 End -->


                </div>
                <!-- Right Content -->

            </div>
        </div>
    </div>
    <!-- job post company End -->

    <div class="container2" x-data="{ rightSide: false, leftSide: false }">

        <div class="main">

            <div class="main-container">
                <div class="timeline">

                    <div class="timeline-right">
                        <div>

                            <table class="reviewstar">
                                <tr>
                                    <td>전체 평점</td>
                                    <td th:if="${avg.total < 1.5}" th:text="'⭐'+${avg.total}"></td>
                                    <td th:if="${avg.total >= 1.5} and ${avg.total < 2.5}" th:text="'⭐⭐'+${avg.total}"></td>
                                    <td th:if="${avg.total >= 2.5} and ${avg.total < 3.5}" th:text="'⭐⭐⭐'+${avg.total}"></td>
                                    <td th:if="${avg.total >= 3.5} and ${avg.total < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.total}"></td>
                                    <td th:if="${avg.total >= 4.5} and ${avg.total <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.total}"></td>
                                </tr>
                                <tr>
                                    <td>기업 복지</td>
                                    <td th:if="${avg.welfare < 1.5}" th:text="'⭐'+${avg.welfare}"></td>
                                    <td th:if="${avg.welfare >= 1.5} and ${avg.welfare < 2.5}" th:text="'⭐⭐'+${avg.welfare}"></td>
                                    <td th:if="${avg.welfare >= 2.5} and ${avg.welfare < 3.5}" th:text="'⭐⭐⭐'+${avg.welfare}"></td>
                                    <td th:if="${avg.welfare >= 3.5} and ${avg.welfare < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.welfare}"></td>
                                    <td th:if="${avg.welfare >= 4.5} and ${avg.welfare <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.welfare}"></td>
                                </tr>
                                <tr>
                                    <td>워라벨</td>
                                    <td th:if="${avg.work_life_balance < 1.5}" th:text="'⭐'+${avg.work_life_balance}"></td>
                                    <td th:if="${avg.work_life_balance >= 1.5} and ${avg.work_life_balance < 2.5}" th:text="'⭐⭐'+${avg.work_life_balance}"></td>
                                    <td th:if="${avg.work_life_balance >= 2.5} and ${avg.work_life_balance < 3.5}" th:text="'⭐⭐⭐'+${avg.work_life_balance}"></td>
                                    <td th:if="${avg.work_life_balance >= 3.5} and ${avg.work_life_balance < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.work_life_balance}"></td>
                                    <td th:if="${avg.work_life_balance >= 4.5} and ${avg.work_life_balance <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.work_life_balance}"></td>
                                </tr>
                                <tr>
                                    <td>사내 문화</td>
                                    <td th:if="${avg.inner_culture < 1.5}" th:text="'⭐'+${avg.inner_culture}"></td>
                                    <td th:if="${avg.inner_culture >= 1.5} and ${avg.inner_culture < 2.5}" th:text="'⭐⭐'+${avg.inner_culture}"></td>
                                    <td th:if="${avg.inner_culture >= 2.5} and ${avg.inner_culture < 3.5}" th:text="'⭐⭐⭐'+${avg.inner_culture}"></td>
                                    <td th:if="${avg.inner_culture >= 3.5} and ${avg.inner_culture < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.inner_culture}"></td>
                                    <td th:if="${avg.inner_culture >= 4.5} and ${avg.inner_culture <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.inner_culture}"></td>
                                </tr>
                                <tr>
                                    <td>승진 기회</td>
                                    <td th:if="${avg.p_opportunity < 1.5}" th:text="'⭐'+${avg.p_opportunity}"></td>
                                    <td th:if="${avg.p_opportunity >= 1.5} and ${avg.p_opportunity < 2.5}" th:text="'⭐⭐'+${avg.p_opportunity}"></td>
                                    <td th:if="${avg.p_opportunity >= 2.5} and ${avg.p_opportunity < 3.5}" th:text="'⭐⭐⭐'+${avg.p_opportunity}"></td>
                                    <td th:if="${avg.p_opportunity >= 3.5} and ${avg.p_opportunity < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.p_opportunity}"></td>
                                    <td th:if="${avg.p_opportunity >= 4.5} and ${avg.p_opportunity <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.p_opportunity}"></td>
                                </tr>
                                <tr>
                                    <td>경영진</td>
                                    <td th:if="${avg.management < 1.5}" th:text="'⭐'+${avg.management}"></td>
                                    <td th:if="${avg.management >= 1.5} and ${avg.management < 2.5}" th:text="'⭐⭐'+${avg.management}"></td>
                                    <td th:if="${avg.management >= 2.5} and ${avg.management < 3.5}" th:text="'⭐⭐⭐'+${avg.management}"></td>
                                    <td th:if="${avg.management >= 3.5} and ${avg.management < 4.5}" th:text="'⭐⭐⭐⭐'+${avg.management}"></td>
                                    <td th:if="${avg.management >= 4.5} and ${avg.management <= 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.management}"></td>
                                </tr>
                            </table>
                            <form name="myform" id="myform" method="post" th:action="@{/companyReview/{company_id}(company_id=${detail.company_id})}">
                                <div class="album box">
                                    <div class="status-main">
                                        <div class="album-detail">
                                            <div class="album-title"><strong
                                                    th:text="${detail.company_name}">삼성전자</strong>
                                                Review <span>album</span></div>
                                            <div class="totalsalary">
                                                <strong>전체 평균 연봉</strong>
                                                <b>4300 만원</b>
                                            </div>
                                            <div class="album-date">2022.11.28</div>
                                        </div>

                                    </div>
                                    <div class="reviewform">
                                        <div class="reviewform">
                                            <fieldset>
                                                <legend>기업 복지</legend>
                                                <input type="radio" name="welfare" value="5" id="wel1"><label
                                                    for="wel1">⭐</label>
                                                <input type="radio" name="welfare" value="4" id="wel2"><label
                                                    for="wel2">⭐</label>
                                                <input type="radio" name="welfare" value="3" id="wel3"><label
                                                    for="wel3">⭐</label>
                                                <input type="radio" name="welfare" value="2" id="wel4"><label
                                                    for="wel4">⭐</label>
                                                <input type="radio" name="welfare" value="1" id="wel5"><label
                                                    for="wel5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>워라벨</legend>
                                                <input type="radio" name="work_life_balance" value="5" id="wor1"><label
                                                    for="wor1">⭐</label>
                                                <input type="radio" name="work_life_balance" value="4" id="wor2"><label
                                                    for="wor2">⭐</label>
                                                <input type="radio" name="work_life_balance" value="3" id="wor3"><label
                                                    for="wor3">⭐</label>
                                                <input type="radio" name="work_life_balance" value="2" id="wor4"><label
                                                    for="wor4">⭐</label>
                                                <input type="radio" name="work_life_balance" value="1" id="wor5"><label
                                                    for="wor5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>사내 문화</legend>
                                                <input type="radio" name="inner_culture" value="5" id="cul1"><label
                                                    for="cul1">⭐</label>
                                                <input type="radio" name="inner_culture" value="4" id="cul2"><label
                                                    for="cul2">⭐</label>
                                                <input type="radio" name="inner_culture" value="3" id="cul3"><label
                                                    for="cul3">⭐</label>
                                                <input type="radio" name="inner_culture" value="2" id="cul4"><label
                                                    for="cul4">⭐</label>
                                                <input type="radio" name="inner_culture" value="1" id="cul5"><label
                                                    for="cul5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>승진 기회</legend>
                                                <input type="radio" name="p_opportunity" value="5" id="promo1"><label
                                                    for="promo1">⭐</label>
                                                <input type="radio" name="p_opportunity" value="4" id="promo2"><label
                                                    for="promo2">⭐</label>
                                                <input type="radio" name="p_opportunity" value="3" id="promo3"><label
                                                    for="promo3">⭐</label>
                                                <input type="radio" name="p_opportunity" value="2" id="promo4"><label
                                                    for="promo4">⭐</label>
                                                <input type="radio" name="p_opportunity" value="1" id="promo5"><label
                                                    for="promo5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>경영진</legend>
                                                <input type="radio" name="management" value="5" id="manage1"><label
                                                    for="manage1">⭐</label>
                                                <input type="radio" name="management" value="4" id="manage2"><label
                                                    for="manage2">⭐</label>
                                                <input type="radio" name="management" value="3" id="manage3"><label
                                                    for="manage3">⭐</label>
                                                <input type="radio" name="management" value="2" id="manage4"><label
                                                    for="manage4">⭐</label>
                                                <input type="radio" name="management" value="1" id="manage5"><label
                                                    for="manage5">⭐</label>
                                            </fieldset>

                                        </div>

                                    </div>
                                    <div class="status box">
                                        <div class="status-menu">
                                            <a class="status-menu-item active" href="#">단점</a>
                                        </div>
                                        <div class="status-main">
                                    <textarea class="status-textarea"
                                              placeholder="Write something to Quan Ha.." name="pros"></textarea>
                                        </div>

                                        <div class="status-menu">
                                            <a class="status-menu-item active" href="#">장점</a>
                                        </div>
                                        <div class="status-main">
                                    <textarea class="status-textarea"
                                              placeholder="Write something to Quan Ha.." name="cons"></textarea>
                                        </div>

                                        <div class="status-menu">
                                            <a class="status-menu-item active" href="#">종합 리뷰</a>
                                        </div>
                                        <div class="status-main">
                                    <textarea class="status-textarea"
                                              placeholder="Write something to Quan Ha.."
                                              name="review_content"></textarea>
                                        </div>
                                        <div class="mysalary">
                                            나의 연봉은? <input type="number" name="my_salary"> 만원
                                        </div>

                                        <div class="retire_yn">
                                            나는 지금
                                            <input type="radio" name="current_yn" value="y" id="current_yn1"><label
                                                for="current_yn1">전직자</label>
                                            <input type="radio" name="current_yn" value="n" id="current_yn2"><label
                                                for="current_yn2">현직자</label>
                                        </div>


                                        <div class="status-actions">
                                            <button class="status-share">Share</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- 개개인 리뷰 보여주기 -->
                            <div class="album box box2" th:each="r : ${review}">
                                <div class="status-main">
                                    <div class="album-detail">
                                        <div class="album-title">
                                            <strong th:if="${r.current_yn}=='y'" th:text="'현직자의 리뷰'">현직자</strong>
                                            <strong th:if="${r.current_yn}=='n'" th:text="'전직자의 리뷰'">현직자</strong>
                                        </div>
                                        <div class="album-title"><strong>연봉</strong><span
                                                th:text="${r.my_salary}">3800만원</span>
                                        </div>
                                        <div class="album-date" th:text="${r.reg_date}">2022.11.28</div>
                                    </div>
                                    <button class="intro-menu"></button>
                                </div>

                                <div class="starandreview">
                                    <div class="restar">
                                    </div>
                                    <table class="reviewstar">
                                        <tr>
                                            <td>기업 복지</td>
                                            <td th:if="${r.welfare == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.welfare == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.welfare == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.welfare == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.welfare == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>워라벨</td>
                                            <td th:if="${r.work_life_balance == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.work_life_balance == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>사내 문화</td>
                                            <td th:if="${r.inner_culture == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.inner_culture == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>승진 기회</td>
                                            <td th:if="${r.p_opportunity == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.p_opportunity == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>경영진</td>
                                            <td th:if="${r.management == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.management == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.management == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.management == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.management == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                    </table>

                                    <table class="proscons">
                                        <tr>
                                            <td>단점</td>
                                            <td th:text="${r.cons}">일을 많이 시킨다일을 많이 시킨다일을 많이 시킨다일을 많이 시킨다일을 많이 시킨다일을 많이
                                                시킨다일을 많이 시킨다일을 많이 시킨다일을 많이 시킨다
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>장점</td>
                                            <td th:text="${r.pros}">돈을 많이 준다돈을 많이 준다돈을 많이 준다돈을 많이 준다돈을 많이 준다돈을 많이 준다돈을
                                                많이 준다돈을 많이 준다돈을 많이 준다돈을 많이 준다
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>종합 리뷰</td>
                                            <td th:text="${r.review_content}">좋다</td>
                                        </tr>
                                    </table>


                                </div>


                                <div class="album-actions">
                                    <a href="#" class="album-action">
                                        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                             stroke-linejoin="round" viewBox="0 0 24 24">
                                            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"/>
                                        </svg>
                                        87
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="overlay" @click="rightSide = false; leftSide = false"
                 :class="{ 'active': rightSide || leftSide }"></div>
        </div>

</main>
<footer id="fo">
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so
                                        behold.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <p>Address :Your address goes
                                        here, your demo address.</p>
                                </li>
                                <li><a href="#">Phone : +8880 44338899</a></li>
                                <li><a href="#">Email : info@colorlib.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Important Link</h4>
                            <ul>
                                <li><a href="#"> View Project</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Proparties</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Newsletter</h4>
                            <div class="footer-pera footer-pera2">
                                <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank"
                                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                          method="get" class="subscribe_form relative mail_part">
                                        <input type="email" name="email" id="newsletter-form-email"
                                               placeholder="Email Address" class="placeholder hide-on-focus"
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = ' Email Address '">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img
                                                    src="assets/img/icon/form.png" alt=""></button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row footer-wejed justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <!-- logo -->
                    <div class="footer-logo mb-20">
                        <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>5000+</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>451</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <!-- Footer Bottom Tittle -->
                    <div class="footer-tittle-bottom">
                        <span>568</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script>
                                All rights reserved |
                                This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>


</body>

</html>