<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/star.css">
    <link rel="stylesheet" href="/css/c_detail.css">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start-->
<header>
    <!-- Header Start -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- Header End -->
</header>
<!-- Hero Area Start-->

<!-- Hero Area End -->
<!--================Blog Area =================-->
<section class="single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="">

                <!-- 맨 위에 기업 정보 크게 띄워주는거 -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img th:src="${detail.company_logo}" alt="" class="c_icon"></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h1 th:text="${detail.company_name}">삼성전자(주)</h1>
                            </a>
                            <ul>
                                <li th:text="${detail.company_industry}">전기/전자/제어</li>
                                <li th:text="${#strings.listSplit(detail.company_address,' ')[0]}"><i
                                        class="fas fa-map-marker-alt"></i>서울
                                </li>
                                <li>대기업</li>
                            </ul>
                        </div>
                    </div>

                    <div class="button-group-area mt-10">
                        <a th:href="@{/companyDetail/{company_id}(company_id=${detail.company_id})}"
                           class="genric-btn primary-border radius">기업상세</a>
                        <a th:href="@{/companyReview/{company_id}(company_id=${detail.company_id})}"
                           class="genric-btn success radius">기업리뷰</a>
                        <!--                        <a th:href="@{/companyRecruit/{company_id}(company_id=${detail.company_id})}"-->
                        <!--                           class="genric-btn warning-border radius" th:text="'채용공고('+${countgongo}+')'">채용공고(4)</a>-->
                        <a th:href="@{/companyRecruit/{company_id}(company_id=${detail.company_id})}"
                           class="genric-btn warning-border radius" th:text="'채용공고(4)'">채용공고(4)</a>
                    </div>

                </div>
                <!-- 맨 위에 기업 크게 띄워주는거 End -->


                <!-- 전체 평균 평점 -->
                <div class="col-lg-8 posts-list hmcontent">
                    <div class="single-post">
                        <div class="blog_details">
                            <h2 th:text="${detail.company_name}+' Review'">삼성전자 Review</h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-comments" th:text="${countreview}+ '개의 리뷰'"></i></a>
                                </li>
                            </ul>
                            <br>

                            <h4 th:if="${avg.totalstar < 2}"
                                th:text="'전체 평점⭐ '+${avg.totalstar}">전체 평점 ⭐⭐⭐</h4>
                            <h4 th:if="${avg.totalstar >= 2} and ${avg.totalstar < 3}"
                                th:text="'전체 평점⭐⭐ '+${avg.totalstar}">전체 평점 ⭐⭐⭐</h4>
                            <h4 th:if="${avg.totalstar >= 3} and ${avg.totalstar < 4}"
                                th:text="'전체 평점⭐⭐⭐ '+${avg.totalstar}">전체 평점 ⭐⭐⭐</h4>
                            <h4 th:if="${avg.totalstar >= 4} and ${avg.totalstar < 5}"
                                th:text="'전체 평점⭐⭐⭐⭐ '+${avg.totalstar}">전체 평점 ⭐⭐⭐</h4>
                            <h4 th:if="${avg.totalstar == 5}" th:text="'전체 평점⭐⭐⭐⭐⭐ '+${avg.totalstar}">전체 평점 ⭐⭐⭐</h4>

                            <div class="totalreview">
                                <table class="reviewstar">
                                    <tr>
                                        <td>기업 복지</td>
                                        <td th:if="${avg.welfare < 2}" th:text="'⭐ '+${avg.welfare}"></td>
                                        <td th:if="${avg.welfare >= 2} and ${avg.welfare < 3}"
                                            th:text="'⭐⭐ '+${avg.welfare}"></td>
                                        <td th:if="${avg.welfare >= 3} and ${avg.welfare < 4}"
                                            th:text="'⭐⭐⭐ '+${avg.welfare}"></td>
                                        <td th:if="${avg.welfare >= 4} and ${avg.welfare < 5}"
                                            th:text="'⭐⭐⭐⭐ '+${avg.welfare}"></td>
                                        <td th:if="${avg.welfare == 5}" th:text="'⭐⭐⭐⭐⭐'+${avg.welfare}"></td>
                                    </tr>
                                    <tr>
                                        <td>워라벨</td>
                                        <td th:if="${avg.work_life_balance < 2}"
                                            th:text="'⭐ '+${avg.work_life_balance}"></td>
                                        <td th:if="${avg.work_life_balance >= 2} and ${avg.work_life_balance < 3}"
                                            th:text="'⭐⭐ '+${avg.work_life_balance}"></td>
                                        <td th:if="${avg.work_life_balance >= 3} and ${avg.work_life_balance < 4}"
                                            th:text="'⭐⭐⭐ '+${avg.work_life_balance}"></td>
                                        <td th:if="${avg.work_life_balance >= 4} and ${avg.work_life_balance < 5}"
                                            th:text="'⭐⭐⭐⭐ '+${avg.work_life_balance}"></td>
                                        <td th:if="${avg.work_life_balance == 5}"
                                            th:text="'⭐⭐⭐⭐⭐ '+${avg.work_life_balance}"></td>
                                    </tr>
                                    <tr>
                                        <td>사내 문화</td>
                                        <td th:if="${avg.inner_culture < 2}" th:text="'⭐ '+${avg.inner_culture}"></td>
                                        <td th:if="${avg.inner_culture >= 2} and ${avg.inner_culture < 3}"
                                            th:text="'⭐⭐ '+${avg.inner_culture}"></td>
                                        <td th:if="${avg.inner_culture >= 3} and ${avg.inner_culture < 4}"
                                            th:text="'⭐⭐⭐ '+${avg.inner_culture}"></td>
                                        <td th:if="${avg.inner_culture >= 4} and ${avg.inner_culture < 5}"
                                            th:text="'⭐⭐⭐⭐ '+${avg.inner_culture}"></td>
                                        <td th:if="${avg.inner_culture == 5}"
                                            th:text="'⭐⭐⭐⭐⭐ '+${avg.inner_culture}"></td>
                                    </tr>
                                    <tr>
                                        <td>승진 기회</td>
                                        <td th:if="${avg.p_opportunity < 2}" th:text="'⭐ '+${avg.p_opportunity}"></td>
                                        <td th:if="${avg.p_opportunity >= 2} and ${avg.p_opportunity < 3}"
                                            th:text="'⭐⭐ '+${avg.p_opportunity}"></td>
                                        <td th:if="${avg.p_opportunity >= 3} and ${avg.p_opportunity < 4}"
                                            th:text="'⭐⭐⭐ '+${avg.p_opportunity}"></td>
                                        <td th:if="${avg.p_opportunity >= 4} and ${avg.p_opportunity < 5}"
                                            th:text="'⭐⭐⭐⭐ '+${avg.p_opportunity}"></td>
                                        <td th:if="${avg.p_opportunity == 5}"
                                            th:text="'⭐⭐⭐⭐⭐ '+${avg.p_opportunity}"></td>
                                    </tr>
                                    <tr>
                                        <td>경영진</td>
                                        <td th:if="${avg.management < 2}" th:text="'⭐ '+${avg.management}"></td>
                                        <td th:if="${avg.management >= 2} and ${avg.management < 3}"
                                            th:text="'⭐⭐ '+${avg.management}"></td>
                                        <td th:if="${avg.management >= 3} and ${avg.management < 4}"
                                            th:text="'⭐⭐⭐ '+${avg.management}"></td>
                                        <td th:if="${avg.management >= 4} and ${avg.management < 5}"
                                            th:text="'⭐⭐⭐⭐ '+${avg.management}"></td>
                                        <td th:if="${avg.management == 5}" th:text="'⭐⭐⭐⭐⭐ '+${avg.management}"></td>
                                    </tr>
                                </table>
                                <h4 style="margin: revert; padding-right: 40px;">전체 평균 연봉 <b
                                        th:text="${avg.avgsalary}+'만원'">3400만원</b></h4>
                            </div>
                            <br>

                            <div class="comment-form">
                                <h4>Leave a Reivew</h4>
                                <form class="form-contact comment_form" id="myform" method="post"
                                      th:action="@{/save/{company_id}(company_id=${detail.company_id})/{mem_id}(mem_id=${session.mem_id})}">
                                    <div class="row">

                                        <div class="starform" style="text-align: center;">
                                            <fieldset>
                                                <legend>기업 복지</legend>
                                                <input type="radio" name="welfare" value="5" id="wel1"><label
                                                    for="wel1">⭐</label>
                                                <input type="radio" name="welfare" value="4" id="wel2"><label
                                                    for="wel2">⭐</label>
                                                <input type="radio" name="welfare" value="3" id="wel3"><label
                                                    for="wel3">⭐</label>
                                                <input type="radio" name="welfare" value="2" id="wel4"><label
                                                    for="wel4">⭐</label>
                                                <input type="radio" name="welfare" value="1" id="wel5"><label
                                                    for="wel5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>워라벨</legend>
                                                <input type="radio" name="work_life_balance" value="5" id="wor1"><label
                                                    for="wor1">⭐</label>
                                                <input type="radio" name="work_life_balance" value="4" id="wor2"><label
                                                    for="wor2">⭐</label>
                                                <input type="radio" name="work_life_balance" value="3" id="wor3"><label
                                                    for="wor3">⭐</label>
                                                <input type="radio" name="work_life_balance" value="2" id="wor4"><label
                                                    for="wor4">⭐</label>
                                                <input type="radio" name="work_life_balance" value="1" id="wor5"><label
                                                    for="wor5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>사내 문화</legend>
                                                <input type="radio" name="inner_culture" value="5" id="cul1"><label
                                                    for="cul1">⭐</label>
                                                <input type="radio" name="inner_culture" value="4" id="cul2"><label
                                                    for="cul2">⭐</label>
                                                <input type="radio" name="inner_culture" value="3" id="cul3"><label
                                                    for="cul3">⭐</label>
                                                <input type="radio" name="inner_culture" value="2" id="cul4"><label
                                                    for="cul4">⭐</label>
                                                <input type="radio" name="inner_culture" value="1" id="cul5"><label
                                                    for="cul5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>승진 기회</legend>
                                                <input type="radio" name="p_opportunity" value="5" id="promo1"><label
                                                    for="promo1">⭐</label>
                                                <input type="radio" name="p_opportunity" value="4" id="promo2"><label
                                                    for="promo2">⭐</label>
                                                <input type="radio" name="p_opportunity" value="3" id="promo3"><label
                                                    for="promo3">⭐</label>
                                                <input type="radio" name="p_opportunity" value="2" id="promo4"><label
                                                    for="promo4">⭐</label>
                                                <input type="radio" name="p_opportunity" value="1" id="promo5"><label
                                                    for="promo5">⭐</label>
                                            </fieldset>
                                            <fieldset>
                                                <legend>경영진</legend>
                                                <input type="radio" name="management" value="5" id="manage1"><label
                                                    for="manage1">⭐</label>
                                                <input type="radio" name="management" value="4" id="manage2"><label
                                                    for="manage2">⭐</label>
                                                <input type="radio" name="management" value="3" id="manage3"><label
                                                    for="manage3">⭐</label>
                                                <input type="radio" name="management" value="2" id="manage4"><label
                                                    for="manage4">⭐</label>
                                                <input type="radio" name="management" value="1" id="manage5"><label
                                                    for="manage5">⭐</label>
                                            </fieldset>

                                        </div>
                                        <br><br>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <h4 style="color: orangered;">단점</h4>
                                                <textarea class="form-control w-100" name="cons" id="comment"
                                                          cols="30" rows="9"
                                                          placeholder="단점을 입력하세요"></textarea>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <h4 style="color: royalblue;">장점</h4>
                                                <textarea class="form-control w-100" name="pros" id="comment"
                                                          cols="30" rows="9"
                                                          placeholder="장점을 입력하세요"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <h4 style="color: green;">전체 리뷰</h4>
                                                <textarea class="form-control w-100" name="review_content" id="comment"
                                                          cols="30" rows="9"
                                                          placeholder="Write Comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <h4 style="display: inline;">나의 연봉은</h4>
                                                <input class="form-control" name="my_salary" id="email" type="number"
                                                       placeholder="연봉" style="display: inline; width:90px;">만원
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <h4 style="display: inline;">나는 지금</h4>
                                                <input type="checkbox" name="current_yn" value="y"
                                                       onclick="checkOnlyOne(this)" style="display: inline;"/>현직자
                                                <input type="checkbox" name="current_yn" value="n"
                                                       onclick="checkOnlyOne(this)" style="display: inline;"/>전직자
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group" style="text-align: center;">
                                        <button type="submit" class="button button-contactForm btn_1 boxed-btn"
                                                style="color:#38a4ff!important;">Share
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <h4 class="moabogi">모아보기</h4>
                            <div class="rev">
                                <!-- 전체 리뷰 보여주기 -->
                                <div th:each="r : ${review}">
                                    <h5 th:if="${r.current_yn} == 'y'" th:text="'현직자 Review '" style="display:inline;">
                                        현직자 Review</h5>
                                    <h5 th:if="${r.current_yn} == 'n'" th:text="'전직자 Review '" style="display:inline;">
                                        현직자 Review</h5>
                                    <medium th:text="${#strings.substring(r.reg_date,0,10)}+ ' | '">2022.12.02 |
                                    </medium>
                                    <medium>연봉 <b th:text="${r.my_salary} +'만원'">4700만원</b></medium>
                                    <br>
                                    <br>
                                    <table>
                                        <tr>
                                            <td>기업 복지</td>
                                            <td th:if="${r.welfare == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.welfare == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.welfare == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.welfare == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.welfare == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>워라벨</td>
                                            <td th:if="${r.work_life_balance == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.work_life_balance == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.work_life_balance == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>사내 문화</td>
                                            <td th:if="${r.inner_culture == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.inner_culture == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.inner_culture == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>승진 기회</td>
                                            <td th:if="${r.p_opportunity == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.p_opportunity == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.p_opportunity == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                        <tr>
                                            <td>경영진</td>
                                            <td th:if="${r.management == 1}" th:text="'⭐'"></td>
                                            <td th:if="${r.management == 2}" th:text="'⭐⭐'"></td>
                                            <td th:if="${r.management == 3}" th:text="'⭐⭐⭐'"></td>
                                            <td th:if="${r.management == 4}" th:text="'⭐⭐⭐⭐'"></td>
                                            <td th:if="${r.management == 5}" th:text="'⭐⭐⭐⭐⭐'"></td>
                                        </tr>
                                    </table>
                                    <br>

                                    <h6 style="color: orangered;">단점</h6>
                                    <p class="excert" th:text="${r.cons}">
                                        MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you
                                        should have to spend money on boot camp when you can get the MCSE study
                                        materials
                                        yourself at a
                                        fraction of the camp price. However, who has the willpower
                                    </p>
                                    <br>
                                    <h6 style="color: royalblue;">장점</h6>
                                    <p th:text="${r.pros}">
                                        MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you
                                        should have to spend money on boot camp when you can get the MCSE study
                                        materials
                                        yourself at a
                                        fraction of the camp price. However, who has the willpower to actually sit
                                        through a
                                        self-imposed MCSE training. who has the willpower to actually
                                    </p>
                                    <br>
                                    <h6 style="color: green;">종합 리뷰</h6>
                                    <div class="quote-wrapper">
                                        <div class="quotes" th:text="${r.review_content}">
                                            MCSE boot camps have its supporters and its detractors. Some people do not
                                            understand why you
                                            should have to spend money on boot camp when you can get the MCSE study
                                            materials yourself at
                                            a fraction of the camp price. However, who has the willpower to actually sit
                                            through a
                                            self-imposed MCSE training.
                                        </div>
                                    </div>

                                    <div class="navigation-top">
                                        <div class="d-sm-flex justify-content-between text-center">
                                            <!--                                        <p class="like-info" th:text="${r.review_likes}"><span class="align-middle"><i-->
                                            <!--                                                class="fa fa-heart"></i></span>-->
                                            <!--                                            people like this</p>-->
                                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->
<footer>
    <!-- Footer Start-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>
<!-- Date Picker -->
<script src="/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<script>
         function checkOnlyOne(element) {

            const checkboxes
                = document.getElementsByName("current_yn");

            checkboxes.forEach((cb) => {
              cb.checked = false;
            })

            element.checked = true;
         }

</script>
</body>
</html>