<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/good-job_icon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/c_detail.css?after">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- Header End -->
</header>
<main>

    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between tq">
                <!-- Left Content -->
                <div class="">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img th:src="${detail.company_logo}" alt="" class="c_icon"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h1 th:text="${detail.company_name}">삼성전자(주)</h1>
                                </a>
                                <ul>
                                    <li th:text="${detail.company_industry}">전기/전자/제어</li>
                                    <li th:if="${not #strings.isEmpty(detail.company_address)}"
                                        th:text="${#strings.listSplit(detail.company_address,' ')[0]}"><i
                                            class="fas fa-map-marker-alt"></i>서울
                                    </li>
                                    <li th:if="${#strings.isEmpty(detail.company_address)}" th:text="''"><i
                                            class="fas fa-map-marker-alt"></i>서울
                                    </li>
                                    <li>대기업</li>
                                </ul>
                            </div>
                        </div>

                        <div class="button-group-area mt-10">
                            <a href=""
                               class="genric-btn primary radius">기업상세</a>
                            <a th:href="@{/companyReview/{company_id}(company_id=${detail.company_id})}"
                               class="genric-btn success-border radius">기업리뷰</a>
<!--                            <a th:href="@{/companyRecruit/{company_id}(company_id=${detail.company_id})}"-->
<!--                               class="genric-btn warning-border radius" th:text="'채용공고('+${countgongo}+')'">채용공고(4)</a>-->
                            <a th:href="@{/companyRecruit/{company_id}(company_id=${detail.company_id})}"
                               class="genric-btn warning-border radius" th:text="'채용공고(4)'">채용공고(4)</a>
                        </div>

                    </div>
                    <!-- job single End -->


                    <div class="untree_co-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-paper-plane"></span>
                                        <a href="">
                                            <img src="/img/settings.png" class="detail4">
                                            <h3 th:text="${detail.industry_class}" class="detail4">전기/전자/제어</h3>
                                            <p>산업</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-tag"></span>
                                        <a href="">
                                            <img src="/img/home.png" class="detail4">
                                            <h3 th:text="${detail.company_type}" class="detail4">대기업</h3>
                                            <p>기업형태</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-user"></span>
                                        <a href="">
                                            <img src="/img/users.png" class="detail4">
                                            <h3 th:text="${detail.staff_volume}" class="detail4">98,387명 (2013)</h3>
                                            <p>사원수</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="service text-center">
                                        <span class="icon-support"></span>
                                        <a href="">
                                            <img src="/img/calendar.png" class="detail4">
                                            <h3 th:text="${detail.foundation_dt}" class="detail4">1969.01.13</h3>
                                            <p>설립</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>
                    <br>


                    <div class="col-lg-8 job-post-details hmcontent">

                        <div class="post-details1 mb-50" th:if="${not #strings.isEmpty(detail.company_intro)} and ${not #strings.equals(detail.company_intro, '-')}">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>기업 소개</h4>
                            </div>
                            <p th:text="${detail.company_intro}">삼성전자(주)는 한국 및 CE, IM 부문 산하 해외 9개 지역총괄과 DS 부문 산하 해외 5개
                                지역총괄의 생산,판매법인 등 158개의 동종업종을 영위하는 종속기업으로 구성된 글로벌 전자기업임. 제품 특성에 따라 CE 사업부문, IM 사업부문, DS
                                사업부문 3개의 부문으로 나누어 독립 경영하고 있음. 삼성전자만의 고유 디자인을 바탕으로 프리미엄 리더십과 60인치 이상의 초대형 리더십을 강화하고, 사용자가
                                원하는 컨텐츠를 간편하게 제공하여 Smart TV시장을 주도할 계획. 메모리 판가는 2012년 시장 악화 지속으로 전년 대비 약 40% 하락하였으나
                                2013년에는 수급 안정화로 하락폭이 25%수준으로 둔화 되었음</p>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_owner)} and ${not #strings.equals(detail.company_owner, '-')}">
                            <div class="small-section-tittle">
                                <h4>대표</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.company_owner}">한종희, 경계현</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.total_sales)} and ${not #strings.equals(detail.total_sales, '-')}">
                            <div class="small-section-tittle">
                                <h4>매출</h4>
                            </div>
                            <ul>
                                <li th:text="${detail.total_sales}">158.4조 원 (2013)</li>
                            </ul>
                        </div>

                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_history)} and ${not #strings.equals(detail.company_history, '-')}">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>연혁</h4>
                            </div>
                            <ul th:each="hist : ${#strings.listSplit(detail.company_history,'\n')}">
                                <li th:text="${hist}">3 or more years of professional design experience
                                </li>
                            </ul>
                        </div>


                        <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_url)} and ${not #strings.equals(detail.company_url, '-')}">
                            <div class="small-section-tittle">
                                <h4>웹사이트</h4>
                            </div>
                            <ul>
                                <li><a th:href="@{${detail.company_url}}" th:text="${detail.company_url}"
                                       style="color:black;" target="_blank">http://www.samsung.com/sec/</a></li>
                            </ul>
                        </div>



                            <div class="post-details2  mb-50" th:if="${not #strings.isEmpty(detail.company_address)} and ${not #strings.equals(detail.company_address, '-')}">

                                <div class="small-section-tittle">
                                    <h4>주소</h4>
                                </div>
                                <ul>
                                    <li th:text="${detail.company_address}">경기 수원시 영통구 삼성로 129 (매탄동,주차타워)</li>
                                </ul>
                                <div id="kakao-map" style="width:425px; height:300px;">
                                    <button id="button-map"></button>
                                </div>

                            </div>



                    </div>

                </div>
                <!-- Right Content -->

            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
<footer>
    <!-- Footer Start-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=73894d3a79276d1eaae6639487e78793&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" th:inline="javascript">
 /*<![CDATA[*/
    $(document).ready(function(){

    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('kakao-map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    //검색어
    var addr = "광주 인공지능 사관학교";

    if (/*[[${detail.company_address}]]*/ != ""){
        addr = /*[[${detail.company_address}]]*/
        if (addr.includes(",")){
            [# th:if="${not #strings.isEmpty(detail.company_address)}"]
            var addr = /*[[${#strings.listSplit(detail.company_address,',')[0]}]]*/;
            [/]
        }else if (addr.includes("(")) {
            [# th:if="${not #strings.isEmpty(detail.company_address)}"]
            var addr = /*[[${#strings.listSplit(detail.company_address,'(')[0]}]]*/;
            [/]
        }

    }



    // 키워드로 장소를 검색합니다
    ps.keywordSearch(addr, placesSearchCB);

    $("#button-map").on("click", function(){
        addr = $("#addr-box").val();
        $("#kakao-map").html("");
        map = new kakao.maps.Map(mapContainer, mapOption);
        ps.keywordSearch(addr, placesSearchCB);
    })


    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }else{
            alert("장소를 다시 입력해주세요")
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
})
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
/* ]]> */
</script>
</body>
</html>