<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Job board HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/slicknav.css">
  <link rel="stylesheet" href="/css/price_rangs.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/c_detail.css">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/logo.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start-->
<header>
  <!-- Header Start -->
  <th:block th:replace="fragments/header :: headerFragment"></th:block>
  <!-- Header End -->
</header>
<!-- Hero Area Start-->

<!-- Hero Area End -->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">


      <div class="col-lg-8 posts-list">


        <div class="single-post">
          <div class="blog_details">
            <h2 th:if="${industry_class == null} and ${keyword == null}" th:text="'전체 산업군 검색 결과'">서비스업 산업군 검색 결과</h2>
            <h2 th:if="${industry_class == null} and ${keyword != null}" th:text="${keyword}+ ' 키워드 검색 결과'">서비스업 산업군 검색 결과</h2>
            <h2 th:if="${industry_class != null}" th:text="${industry_class}+' 산업군 검색 결과'">서비스업 산업군 검색 결과</h2>

            <ul class="blog-info-link mt-3 mb-4">
              <li><a href="#" th:text="' '+${counting}+'개의 기업'" class="fa fa-comments"><i ></i> 1393개의 기업 </a></li>
            </ul>

            <br>

            <th:block th:each="c : ${list}">
            <div class="table-responsive">
              <table class="table table-lg company_list">
                <tbody>
                <tr class="tab1" style="border-top: 1px solid #dee2e6;">
                  <th rowspan="2" style="width:124px;"><img class="c_icon" th:src="${c.company_logo}"></th>
                  <td><a th:href="@{/companyDetail/{company_id}(company_id=${c.company_id})}" class="text-bold-500" th:text="${c.company_name}">한국맥도날드(유)</a></td>
                  <td><a th:href="@{/companyDetail/{company_id}(company_id=${c.company_id})}" th:text="${c.company_industry}">서비스업</a></td>
                  <td><a th:href="@{/companyDetail/{company_id}(company_id=${c.company_id})}" class="text-bold-500" th:text="${c.company_type}">대기업</a></td>
                  <th rowspan="2" style="vertical-align:middle;">🤍</th>
                </tr>
                <tr class="tab2">
                  <td><a th:href="@{/companyReview/{company_id}(company_id=${c.company_id})}"><small th:text="${c.reviewcount}+' 기업리뷰'">2893 기업리뷰</small></a></td>
                  <td><small th:text="'평균연봉 '+${c.avgsalary}+'만원'">평균연봉 3368 만원</small></td>
                  <td th:if="${c.totalstar < 2}" th:text="'⭐ '+${c.totalstar}">⭐⭐⭐ 3.3</td>
                  <td th:if="${c.totalstar >=2 and c.totalstar <3}" th:text="'⭐⭐ '+${c.totalstar}">⭐⭐⭐ 3.3</td>
                  <td th:if="${c.totalstar >=3 and c.totalstar <4}" th:text="'⭐⭐⭐ '+${c.totalstar}">⭐⭐⭐ 3.3</td>
                  <td th:if="${c.totalstar >=4 and c.totalstar <5}" th:text="'⭐⭐⭐⭐ '+${c.totalstar}">⭐⭐⭐ 3.3</td>
                  <td th:if="${c.totalstar == 5}" th:text="'⭐⭐⭐⭐⭐ '+${c.totalstar}">⭐⭐⭐ 3.3</td>
                </tr>
                </tbody>
              </table>
            </div>
            </th:block>

          </div>
        </div>


         <!--페이징-->
        <div style="text-align:center;">
          <ul class="btn-group pagination">

            <!-- 이전페이지 -->
              <li><i class="fa"><a th:if="${session.pageMaker.prev}" th:href="@{${session.pageMaker.startPage-1}}" th:text="'◀'">◀️</a></i></li>


                <li th:each="pageNum : ${#numbers.sequence(session.pageMaker.startPage,session.pageMaker.endPage)}">
                  <i class="fa"><a th:if="${session.pageMaker.cri.page == pageNum}" th:href="@{${pageNum}}" th:text="${pageNum}"><font color="red">${pageNum}</font></a></i>
                <i class="fa"><a th:if="${session.pageMaker.cri.page!=pageNum}" th:href="@{${pageNum}}" th:text="${pageNum}">${pageNum}</a></i>
                </li>


            <!-- 다음페이지 -->
              <li><i class="fa"><a th:if="${session.pageMaker.cri.page!=pageNum}" th:href="@{${session.pageMaker.endPage+1}}" th:text="'▶'">▶️</a></i></li>

          </ul>
        </div>






      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <form action="/companySearchList">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input type="text" name="keyword" class="form-control" placeholder='Search Keyword'
                         onfocus="this.placeholder = ''"
                         onblur="this.placeholder = 'Search Keyword'">
                  <div class="input-group-append">
                    <button class="btns" type="button" style="background-color:#38a4ff;"><i class="ti-search"></i></button>
                  </div>
                </div>
              </div>
              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" style="border:1px solid #38a4ff; color:#38a4ff!important"
                      type="submit">Search</button>
            </form>
          </aside>
          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            <ul class="list cat-list">
              <li>
                <a th:href="@{/companyList}" class="d-flex">
                  전체 목록
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='서비스업')}" class="d-flex">
                  서비스업
                </a>
              </li>
              <li>
                  <a th:href="@{/companyList/{industry_class}(industry_class='제조·화학')}">제조·화학</a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='의료·제약·복지')}" class="d-flex">
                  <p>의료·제약·복지</p>
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='교육업')}" class="d-flex">
                  <p>교육업</p>
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='건설업')}" class="d-flex">
                  <p>건설업</p>
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='IT·웹·통신')}" class="d-flex">
                  IT·웹·통신
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='미디어·디자인')}" class="d-flex">
                  <p>미디어·디자인</p>
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='은행·금융업')}" class="d-flex">
                  <p>은행·금융업</p>
                </a>
              </li>
              <li>
                <a th:href="@{/companyList/{industry_class}(industry_class='기관·협회')}" class="d-flex">
                  <p>기관·협회</p>
                </a>
              </li>
            </ul>
          </aside>



        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Blog Area end =================-->
<footer>
  <!-- Footer Start-->
  <th:block th:replace="fragments/footer :: footerFragment"></th:block>
  <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>
<!-- Date Picker -->
<script src="/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
	$(document).ready(function(){
		$(".pagination a").click(function(e){
			e.preventDefault();
		var page=$(this).attr("href");
		document.frm.page.value=page;
		document.frm.submit();
		});
	});
</script>

</body>

</html>