<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/flaticon.css">
        <link rel="stylesheet" href="/css/price_rangs.css">
        <link rel="stylesheet" href="/css/slicknav.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/slick.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/my_style.css">
        <link rel="stylesheet" href="/css/d-list.css">
        <script>

        function insert_job(data){
            console.log(data);
            $("#select-job").html($("#"+data.id).text());
            var seq =  $("#"+data.id).attr('id');
            $("#job_seq").attr("value",seq);
            $("#search").hide();
        }
   </script>
   </head>


    <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">

                    <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="job_listing.html">Find a Jobs </a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="#">Page</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="single-blog.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                    <li><a href="job_details.html">job Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="btn head-btn1">Register</a>
                                    <a href="#" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Get your job</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <form action="/insert_job_posting" method="post">
        <div class="job-listing-area pt-120 pt-120-bottom pb-120 background-navy">

            <div class="container">
                <div class="row">
                    <h2  class="text-bold">채용 정보</h2>
                </div>
                <div class="row white-board">
                    <div class="col-xl-11 container-items">
                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">채용을 진행하실 직무를 입력해주세요.</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div>
                                <button type="button" id="select-job" class="select-region genric-btn primary-border width-full text-left btn-text">
                                    대표 직무/직업을 입력해주세요.
                                </button>
                                <input type="text" name="r-part" id="job_seq" style="display:none">
                            </div>
                            <!-- 검색 창 -->
                            <div style="border:1px solid rgba(0,0,0,.1); margin-top:30px; display:none" class="row" id="search" >
                                <div class="col-12" style="float:left">
                                    <!-- 직무 -->
                                    <div style="display:flex" id="job-list" >
                                        <!-- 직무 상위 카테고리 -->
                                        <div class="d-category-list" style="width:200px; height:300px; overflow:auto">
                                            <div class="mt-2 mb-2" style="height:284px">
                                                <ul th:each="job : ${job_list}">
                                                    <li clsss="d-list">
                                                        <button class="j-list-button" type="button">
                                                            <span th:text="${job.super_job}">경영·사무</span>
                                                            <span id="super-job-seq" th:text="${job.super_job_seq}" style="display:none"></span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- 상위 카테고리 끝 -->

                                        <!-- 직무 하위 카테고리 -->
                                        <div class="detail_list" id="j_detail_list">
                                            <button type="button" class='detail_button'>

                                            </button>
                                        </div>
                                        <!-- 하위 카테고리 끝-->
                                    </div>

                                    <div>
                                        <!-- 선택한 옵션 -->
                                        <div style="border-top:1px solid rgba(0,0,0,.1); padding:20px 15px" class="select-option">

                                        </div>
                                        <!-- 옵션 끝 -->
                                    </div>
                                </div>
                            </div>
                            <!-- 검색 창 끝 -->
                        </div>
                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">채용 제목을 입력해주세요.</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div>
                                <input type="text" name="r_title" placeholder="예) 경영지원 채용"class="width-full border-color inner-text">
                            </div>
                        </div>
                        <div class="container-inner ">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">상세 내용을 입력해주세요</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div id="summernote"></div>
                        </div>
                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">지원 접수 기간</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="box-flex">
                                <div class="right-margin1">
                                    <input type="date" name="start_date" class="inner-text box-date">
                                </div>
                                <div class="nice-select border-black right-margin1" tabindex="0">
                                    <span class="current">1시</span>
                                    <ul class="list make-scroll">
                                        <li data-value="1" class="option selected focus">1시</li>
                                        <li data-value="2" class="option">2시</li>
                                        <li data-value="3" class="option">3시</li>
                                        <li data-value="4" class="option">4시</li>
                                        <li data-value="5" class="option">5시</li>
                                        <li data-value="6" class="option">6시</li>
                                        <li data-value="7" class="option">7시</li>
                                        <li data-value="8" class="option">8시</li>
                                        <li data-value="9" class="option">9시</li>
                                        <li data-value="10" class="option">10시</li>
                                        <li data-value="11" class="option">11시</li>
                                        <li data-value="12" class="option">12시</li>
                                        <li data-value="13" class="option">13시</li>
                                        <li data-value="14" class="option">14시</li>
                                        <li data-value="15" class="option">15시</li>
                                        <li data-value="16" class="option">16시</li>
                                        <li data-value="17" class="option">17시</li>
                                        <li data-value="18" class="option">18시</li>
                                        <li data-value="19" class="option">19시</li>
                                        <li data-value="20" class="option">20시</li>
                                        <li data-value="21" class="option">21시</li>
                                        <li data-value="22" class="option">22시</li>
                                        <li data-value="23" class="option">23시</li>
                                        <li data-value="24" class="option">24시</li>
                                    </ul>
                                </div>
                                <span class="right-margin1">~</span>
                                <div class="right-margin1">
                                    <input type="date" name="end_date" class="inner-text box-date">
                                </div>
                                <div class="nice-select border-black right-margin1" tabindex="0">
                                    <span class="current">1시</span>
                                    <ul class="list make-scroll">
                                        <li data-value="1" class="option selected focus">1시</li>
                                        <li data-value="2" class="option">2시</li>
                                        <li data-value="3" class="option">3시</li>
                                        <li data-value="4" class="option">4시</li>
                                        <li data-value="5" class="option">5시</li>
                                        <li data-value="6" class="option">6시</li>
                                        <li data-value="7" class="option">7시</li>
                                        <li data-value="8" class="option">8시</li>
                                        <li data-value="9" class="option">9시</li>
                                        <li data-value="10" class="option">10시</li>
                                        <li data-value="11" class="option">11시</li>
                                        <li data-value="12" class="option">12시</li>
                                        <li data-value="13" class="option">13시</li>
                                        <li data-value="14" class="option">14시</li>
                                        <li data-value="15" class="option">15시</li>
                                        <li data-value="16" class="option">16시</li>
                                        <li data-value="17" class="option">17시</li>
                                        <li data-value="18" class="option">18시</li>
                                        <li data-value="19" class="option">19시</li>
                                        <li data-value="20" class="option">20시</li>
                                        <li data-value="21" class="option">21시</li>
                                        <li data-value="22" class="option">22시</li>
                                        <li data-value="23" class="option">23시</li>
                                        <li data-value="24" class="option">24시</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="container-inner">
                            <div class="between-inner-contents manager-left">
                                <span class="text-bold sub-title">경력여부</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="box-flex">
                                <div class="career-type-items">
                                    <label>
                                        <input type="checkbox" name="career" val="new" class="box-career check_box_big check-for-center right-margin">
                                        <span>신입</span>
                                    </label>
                                </div>
                                <div class="career-type-items">
                                    <label>
                                        <input type="checkbox" name="career" value="car" class="box-career check_box_big check-for-center right-margin">
                                        <span>경력</span>
                                    </label>
                                </div>
                                <div class="career-type-items">
                                    <label>
                                        <input type="checkbox" name="career" value="irr" class="box-career check_box_big check-for-center right-margin">
                                        <span>경력무관</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">학력</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="box-flex">
                                <div class="right-margin1">
                                    <select name="education" class="select-box-size border-black border-sharp" size="3">
                                        <option selected>학력무관</option>
                                        <option>초등학교 졸업</option>
                                        <option>중학교 졸업</option>
                                        <option>고등학교 졸업</option>
                                        <option>대학교 졸업</option>
                                        <option>대학원 졸업</option>
                                    </select>
                                </div>
                                <div class="right-margin1">
                                    <input type="text" name="education_option" class="inner-text" placeholder="(선택) 기타 학력사항">
                                </div>
                                <div class="right-margin1 go-down">
                                    <label>
                                        <input type="checkbox" name="under" value="under" class="check_box_big check-for-center right-margin">
                                        <span>졸업 예정자 지원 가능</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">급여</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="box-flex">
                                <div class="right-margin1">
                                    <select name="salary-type" class="select-box-size border-black border-sharp" size="3">
                                        <option selected>연봉</option>
                                        <option>월급</option>
                                        <option>주급</option>
                                        <option>시급</option>
                                    </select>
                                </div>
                                <div class="right-margin">
                                    <input name="salary" type="text" class="inner-text">
                                </div>
                                <div class="right-margin1">
                                    <span>만원</span>
                                </div>
                                <div class="go-down">
                                    <label>
                                        <input type="checkbox" name="bylaws" value="bylaws" class="check_box_big check-for-center right-margin">
                                        <span>회사 내규에 따름</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container-inner background-navy box-navy-contents box-flex">
                            <div class="between-inner-contents manager-left">
                                <span class="text-bold">소정 근로 시간</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="between-inner-contents box-flex">
                                <span class="related_work_time">주</span>
                                <input type="text" maxlength="3" name="work_per_week" class="work_per_week">
                                <span class="related_work_time">시간</span>
                                <input type="checkbox" class="check_box_big" id="work_check">
                                <label for="work_check">
                                    <span class="check-big-label">면접 후 결정</span>
                                </label>
                            </div>
                            <div class="box-flex">

                            </div>
                        </div>

                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">근무 형태</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="container-inner box-flex">
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="full" class="check_box_big check-for-center right-margin">
                                        <span>정규직</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="contract" class="check_box_big check-for-center right-margin">
                                        <span>계약직</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="alba" class="check_box_big check-for-center right-margin">
                                        <span>아르바이트</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="intern" class="check_box_big check-for-center right-margin">
                                        <span>인턴직</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="free" class="check_box_big check-for-center right-margin">
                                        <span>프리랜서</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_type" value="part" class="check_box_big check-for-center right-margin">
                                        <span>파트</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="container-inner">
                            <div class="between-inner-contents">
                                <span class="text-bold sub-title">대표 근무지역</span>
                                <span class="color-red">필수</span>
                            </div>
                            <div class="box-flex">
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_place" value="overseas" class="check_box_big check-for-center right-margin">
                                        <span>해외지역</span>
                                    </label>
                                </div>
                                <div class="work-type-items">
                                    <label>
                                        <input type="checkbox" name="work_place" value="home" class="check_box_big check-for-center right-margin">
                                        <span>재택근무 가능</span>
                                    </label>
                                </div>
                            </div>
                            <div class="">
                                <input type="text" id="addr-box" name="addr" placeholder="주소를 입력하세요. 예) 광주광역시 동구 제봉로 92 2층 인공지능사관학교 " class=" inner-text text-map">
                                <button type="button" id="button-map" class="fas fa-map-marker-alt btn-map">지도위치확인</button>
                            </div>
                            <div id="kakao-map" class="map-size">

                            </div>
                        </div>

                        <div class="container-inner">
                            <div>
                                <span class="text-bold">2022년 최저시급 9,160원, 주 40시간 기준 어쩌고 저쩌고</span>
                                <a href="https://minwon.moel.go.kr/minwonCms/minwonCmsMwmdView/3003.do" target="_blank" class="color-black link-underline"><span>최저임금 제도 안내</span></a>
                            </div>
                            <div>
                                <input type="checkbox" checked disabled>
                                <span>당사는 본 채용건과 관련하여 '최저임금법'을 준수합니다. 최저임금을 준수하지 않는 경우, 공고 강제 마감 및 행정 처분을 받을 수 있습니다.</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <h2 class="text-bold">담당자 정보</h2>
                </div>
                <div class="row white-board2">
                    <div class="col-xl-11 container-items box-flex">
                        <div class="manager-left">
                            <span class="text-bold">이메일 주소</span>
                            <span class="color-red">필수</span>
                        </div>
                        <div  class="manager-middle">
                            <input type="text" placeholder="이메일을 입력해주세요" name="email" class="width-full inner-text">
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" id="public_email" name="public_email" value="1" class="check_box_big check-for-center">
                                <span>공개</span>
                            </label>
                            <label>
                                <input type="checkbox" id="public_email" name="public_email" value="0" class="check_box_big check-for-center">
                                <span>비공개</span>
                            </label>
                        </div>

                    </div>
                    <div class="col-xl-11 container-items box-flex">
                        <div class="manager-left">
                            <span class="text-bold">담당자 성함</span>
                            <span class="color-red">필수</span>
                        </div>
                        <div class="manager-middle">
                            <input type="text" placeholder="이메일을 입력해주세요" name="email" class="width-full inner-text">
                        </div>
                        <div>
                            <label>
                                <input type="checkbox"id="public_name" name="public_name" value="1" class="check_box_big check-for-center">
                                <span>공개</span>
                            </label>
                            <label>
                                <input type="checkbox"id="public_name" name="public_name" value="0" class="check_box_big check-for-center">
                                <span>비공개</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-11 container-items box-flex">
                        <div class="manager-left">
                            <span class="text-bold">전화번호</span>
                            <span class="color-red">필수</span>
                        </div>
                        <div class="manager-middle">
                            <input type='tel' name='phone1' maxlength="3" class="box-tel"/>-
                            <input type='tel' name='phone2' maxlength="4" class="box-tel"/>-
                            <input type='tel' name='phone3' maxlength="4" class="box-tel"/>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" id="public_tel" name="public_tel" value="1" class="check_box_big check-for-center">
                                <span>공개</span>
                            </label>
                            <label>
                                <input type="checkbox" id="public_tel" name="public_tel" value="0" class="check_box_big check-for-center">
                                <span>비공개</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                    </div>
                    <div class="col-xl-2 for-center-items box-flex">
                        <button class="btn head-btn1 btn-text">등록</button>
                    </div>
                    <div class="col-xl-2">
                        <button class="btn head-btn2 btn-text">취소</button>
                    </div>
                    <div class="col-xl-4">
                    </div>
                </div>
            </div>

        </div>
        </form>
        <!-- Job List Area End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>Address :Your address goes
                                            here, your demo address.</p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : info@colorlib.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm"><img src="assets/img/icon/form.png" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                            <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

	<!-- JS here -->

    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="/js/wow.min.js"></script>
    <script src="/js/animated.headline.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

    <!-- 메인페이지 java script -->
    <script src="/js/main-page.js"></script>

    <!-- 서치페이지 java script -->
<!--    <script src="/js/search.js"></script>-->

    <!-- 채용공고등록 java script-->
    <script src="/js/job-posting.js"></script>

        <!-- SummerNote -->
        <script src="/js/summernote-lite.js"></script>
        <script src="/js/lang/summernote-ko-KR.js"></script>
        <link rel="stylesheet" href="/css/summernote-lite.css">

        <link  href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.js"></script>

    <!--카카오-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c688aedf4062d6f2c67388df61dc79cd&libraries=services,clusterer,drawing"></script>
    <script src="/js/kakaomap.js"></script>

    </body>
</html>