<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Bomnal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/css/flaticon.css">
            <link rel="stylesheet" href="/css/price_rangs.css">
            <link rel="stylesheet" href="/css/slicknav.css">
            <link rel="stylesheet" href="/css/animate.min.css">
            <link rel="stylesheet" href="/css/magnific-popup.css">
            <link rel="stylesheet" href="/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/css/themify-icons.css">
            <link rel="stylesheet" href="/css/slick.css">
            <link rel="stylesheet" href="/css/nice-select.css">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/my_style.css">
            <link rel="stylesheet" href="/css/d-list.css">
            <link rel="stylesheet" href="/css/header.css">
   </head>
   <body>
   <th:block>
   <script>
    function add_list(item){
        if(!!document.getElementById("b_"+item.id)==false){
            var list_name = $("#"+item.id).text();
            $(".select-option").append("<span class='selected_keyword' id='b_"+item.id+"' onclick='delete_list(this)'>"+list_name+"<button type='button' class='list_item' ></button></span>");
        }
    }

    function delete_list(item){
        $("#"+item.id).remove();
    }
   </script>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/img/logo/logo.png" alt="" style="width : 90px; height : 95px">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <th:block th:replace="fragments/header :: headerFragment"></th:block>
        <!-- Header End -->
    </header>
    <main>
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30 body-top">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-xl-12">
                        <!-- form -->
                        <form th:action="@{/search}" id="search_box" class="search-box">
                            <!--지역 검색 버튼-->
                            <div class="select-form">
                                <button class="select-region" type="button" id="select-region"><i class="fas fa-map-marker-alt" style="margin-right:5px;">&nbsp;지역</i></button>
                            </div>
                            <!--직무 검색 버튼-->
                            <div class="select-form">
                                <button class="select-region" type="button" id="select-job">직무</button>
                            </div>
                            <!--검색어 입력 창-->
                            <div class="input-form">
                                <input id="keywords" name="keyword" type="text" placeholder="검색어를 입력하세요">
                            </div>
                            <!--검색 버튼-->
                            <div class="search-form">
                                <a class="search-button" href="javascript:void(0)" type="button" onclick="document.getElementById('search_box').submit()">검색</a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 검색 창 -->
                <div style="border:1px solid rgba(0,0,0,.1); margin-top:30px; display:none" class="row" id="search" >
                    <div class="col-12" style="float:left">

                        <!-- 지역 -->
                        <div style="display:flex; width:100%" id="region-list" >
                            <div class="detail_list" style="width:100%" id="r_detail_list">
                                <button th:each="region : ${region_list} " class="detail_button" th:id="${region.region_seq}" onclick="add_list(this)">
                                    [[${region.region}]]
                                </button>
                            </div>
                        </div>
                        <!-- 지역 끝 -->

                        <!-- 직무 -->
                        <div style="display:flex" id="job-list" >
                            <!-- 직무 상위 카테고리 -->
                            <div class="d-category-list" style="width:200px; height:300px; overflow:auto">
                                <div class="mt-2 mb-2" style="height:284px">
                                    <ul th:each="job : ${job_list}">
                                        <li clsss="d-list">
                                            <button class="j-list-button" type="button">
                                                <span th:text="${job.super_job}">경영·사무</span>
                                                <span id="super-job-seq" th:text="${job.super_job_seq}" style="display:none"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 상위 카테고리 끝 -->

                            <!-- 직무 하위 카테고리 -->
                            <div class="detail_list" id="j_detail_list">
                                <button class='detail_button'>

                                </button>
                            </div>
                            <!-- 하위 카테고리 끝-->
                        </div>

                        <div>
                            <!-- 선택한 옵션 -->
                            <div style="border-top:1px solid rgba(0,0,0,.1); padding:20px 15px" class="select-option">

                            </div>
                            <!-- 옵션 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 검색 창 끝 -->

                <div class="row d-flex justify-contnet-center single-padding-top">
                    <th:block th:each="company:${company_info_list}">
                        <a th:href="@{/companyDetail/{company_id}(company_id=${company.company_id})}">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" >

                                <div class="single-services text-center mb-30 single-company_item">
                                    <div class="services-ion single-logo-height">
                                        <img th:src="@{${company.company_logo}}">
                                    </div>

                                    <div class="services-cap">
                                        <h5>
                                            <a th:href="@{/companyDetail/{company_id}(company_id=${company.company_id})}" th:text="${company.company_name}">메타넷(주)</a>
                                        </h5>
                                        <span th:text="${company.company_industry}" class="font-to-sky">신입 인턴 채용</span>
                                    </div>
                                </div>

                        </div>
                        </a>
                    </th:block>

                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="/companyList" class="border-btn2 career-tag">기업 정보 모아 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
         <div class="online-cv cv-bg section-overly pt-90 pb-120" id="resume" style="padding-bottom: 90px;" data-background="/img/gallery/cv_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">Make a Difference with Your Online Resume!</p>
                            <p class="pera2"> 온라인으로 이력서를 관리하세요</p>

                            <a onclick="goResume()" class="border-btn2 border-btn4 resume-tag">이력서 쓰러 가기</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
        <section class="featured-job-area feature-padding background-navy">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>최신 공고</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center border-recruit white-board2">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <div th:each="recruit,i:${recruit_list}" class="single-job-items mb-30 border-bottom-sing-job">
                            <div class="job-items">

                                <div class="company-img">
                                    <a th:href="@{/noticeDetail/{r_seq}(r_seq=${recruit.r_seq})}"><img th:src="@{${recruit.company_logo }}" alt="" class="logo-single" onerror="this.src='/img/icon/logoerror.png'"></a>
                                </div>
                                <div class="job-tittle">
                                    <p th:text="${recruit.company_name}" class="margin-bottom-none"></p>
                                    <a th:href="@{/noticeDetail/{r_seq}(r_seq=${recruit.r_seq})}"><h4>[[${recruit.r_title}]]</h4></a>
                                    <ul>
                                        <li class="border-right-single" th:text="${recruit.r_part}"></li>
                                        <li class="border-right-single" th:if="${recruit.r_work_area != null}"><i class="fas fa-map-marker-alt" th:text="${recruit.r_work_area}"></i></li>
                                        <li >
                                            <span th:text="${recruit.r_salary}"></span>
                                            <span th:if="${#strings. isEmpty(recruit.r_salary)}" th:text="'회사 내규에 따름'"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right text-to-center">
                                <th:block th:switch="${recruit.r_job_pattern}">
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="full">정규직</a>
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="contract">계약직</a>
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="alba">아르바이트</a>
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="intern">인턴</a>
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="free">프리랜서</a>
                                    <a th:href="@{/noticeList}" class="career-tag" th:case="part">파트타임</a>
                                </th:block>
                                <span th:if="${recruit.r_close_date} != null" th:text="${recruit.r_close_date}+'days ago'"></span>
                                <span th:unset="${recruit.r_close_date} != null" th:text="'날짜미정'"></span>
                            </div>
                        </div>
                        <div class="single-job-items mb-30">
                            <button class="genric-btn info-border btn_recruit_list margin-left-right btn-big btn-font-big" th:onclick="|location.href='@{/noticeList}'|">채용 공고 모아보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Support Company End-->
        <!-- Blog Area Start -->
        <div class="home-blog-area blog-h-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Latest company reviews</span>
                            <h2>최신 기업 리뷰</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:each="review:${review_list}"  class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="/img/blog/home-blog1.jpg" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>24</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="box-flex">
                                    <div class="blog-cap main-company-detail border-right-none single-company-box ellipsis">
                                        <p th:text="${review.company_name}">|   Properties</p>
                                        <a th:if="${session.VO == null}" th:href="@{/companyDetail/{company_id}(company_id=${review.company_id})}"><p class="btn-font-big ellipsis">[[${review.review_content}]]</p></a>
                                        <a th:if="${session.VO != null}" th:href="@{/companyReview/{company_id}(company_id=${review.company_id})}"><p class="btn-font-big ellipsis">[[${review.review_content}]]</p></a>

                                        <a th:href="@{/companyDetail/{company_id}(company_id=${review.company_id})}" class="more-btn">홈페이지 바로가기</a>
                                    </div>
                                    <div class="main-company-logo single-review-right">
                                        <div>
                                            <img th:src="@{${review.company_logo}}" class="margin-left-right">
                                        </div>
                                        <div>
                                            <span th:if="${review.totalstar < 2}" th:text="'⭐'"></span>
                                            <span th:if="${review.totalstar >= 2} and ${review.totalstar < 3}"
                                                  th:text="'⭐⭐ '"></span>
                                            <span th:if="${review.totalstar >= 3} and ${review.totalstar < 4}"
                                                  th:text="'⭐⭐⭐ '"></span>
                                            <span th:if="${review.totalstar >= 4} and ${review.totalstar < 5}"
                                                  th:text="'⭐⭐⭐⭐ '"></span>
                                            <span th:if="${review.totalstar == 5}" th:text="'⭐⭐⭐⭐⭐ '"></span>
                                        </div>
                                        <div>
                                            <span th:text="${review.totalstar}"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
        <!-- Footer End-->
    </footer>

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="/js/wow.min.js"></script>
		<script src="/js/animated.headline.js"></script>
        <script src="/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
		<script src="/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="/js/contact.js"></script>
        <script src="/js/jquery.form.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- 메인페이지 java script -->
        <script src="/js/main-page.js"></script>
        <script src="/js/search.js"></script>
        <!--<script type="text/javascript" th:src="@{/js/main-page.js}"></script>-->
        <script th:inline="javascript">
            function goResume(){
                if([[${session.VO == null}]]){
                    alert("로그인 후 시도해주세요");
                }
                else{
                    location.href="/resume_manage";
                }
            }
        </script>

        <script>
            function keywords_search(){
                let keywords = [];
                var matches =  document.getElementsByClassName('selected_keyword');

                for(let i=0; i<matches.length ; i++){
                    keywords.push(matches[i].innerText);
                }

                var keyword =  document.getElementById('keywords').value;
                keywords.push(keyword);

                $.ajax({
                    type:"get",
                    url:"/search",
                    data:{search:keywords},
                    dataType: "json",
                    success: function(){
                    },
                    error : function(){
                        console.log("error");
                    }
                });



                console.log(keywords);
            }
        </script>
   </th:block>
    </body>
</html>