<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/notice_details.css">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- Header End -->
</header>
<main>
    <!-- 모달창 -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">입사지원</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:if="${session.VO != null} and ${session.type == 'P'}"
                       th:text=" ${session.VO.mem_name} + '님 입사지원하실건가요??'"></p>
                    <p th:unless="${session.VO != null} and ${session.type == 'P'}">로그인 해주세요~</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">입사지원</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 채용공고 Start -->
    <div class="job-post-company pt-55 pb-120">
        <div class="container">
            <div class="row justify-content-between no-gutters">
                <!-- Left Content -->
                <div class="col-xl-8 col-lg-9">
                    <!-- job single -->
                    <div class="single-job-items mb-30" style="padding-left: 10px; padding-right: 10px;">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <!-- 로고 이미지가 없을 때 대체 이미지 적용!-->
                                <a href="#"><img th:src="${notice.company_logo}"
                                                 onerror="this.src='/img/icon/logoerror.png'"
                                                 alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <h5 th:text="${notice.company_name}">기업이름</h5>
                                <div class="notice_r">
                                    <h4 th:text="${notice.r_title}">공고 제목</h4>
                                </div>
                                <br>
                                <table class="notice_table">
                                    <colgroup>
                                        <col style="width:20%;">
                                        <col style="width:30%;">
                                        <col style="width:20%;">
                                        <col style="width:30%;">
                                    </colgroup>
                                    <tr>
                                        <td class="notice_td1"><img src="/img/icon/bag.png" class="img_logo">&nbsp&nbsp모집부문
                                        </td>
                                        <td colspan="3" th:text="${notice.r_part}">개발자</td>
                                    </tr>
                                    <tr>
                                        <td class="notice_td1"><img src="/img/icon/career.png" class="img_logo">&nbsp&nbsp경력
                                        </td>
                                        <td th:switch="${notice.r_career}" class="notice_td2">
                                            <span th:case="new">신입</span>
                                            <span th:case="car">경력</span>
                                            <span th:case="irr">경력무관</span></td>
                                        <td class="notice_td3"><img src="/img/icon/sun.png" class="img_logo">&nbsp&nbsp근무형태
                                        </td>
                                        <td th:switch="${notice.r_job_pattern}" class="notice_td2">
                                            <span th:case="full">정규직</span>
                                            <span th:case="contract">계약직</span>
                                            <span th:case="alba">아르바이트</span>
                                            <span th:case="intern">인턴</span>
                                            <span th:case="free">프리랜서</span>
                                            <span th:case="part">파트타임</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="notice_td1"><img src="/img/icon/education.png" class="img_logo">&nbsp&nbsp학력
                                        </td>
                                        <td class="notice_td2">
                                            <span th:if="${notice.r_academic_ability ==null}">학력무관</span>
                                        </td>
                                        <td class="notice_td3"><img src="/img/icon/pin.png" class="img_logo">&nbsp&nbsp근무지역
                                        </td>
                                        <td th:switch="${notice.r_work_area}" class="notice_td2">
                                            <span th:case="overseas">해외지역 근무</span>
                                            <span th:case="home">재택근무</span>
                                            <span th:case="*"><span th:text="${notice.r_work_area}"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="notice_td1"><img src="/img/icon/yen.png" class="img_logo">&nbsp&nbsp급여
                                        </td>
                                        <td th:switch="${notice.r_salary_bylaws}" class="notice_td2">
                                            <span th:case="bylaws">회사 내규에 따름</span>
                                            <span th:case="*"><span th:text="${notice.r_salary_bylaws}"></span></span>
                                        </td>
                                        <td class="notice_td1"><img src="/img/icon/clock.png" class="img_logo">&nbsp&nbsp근무시간
                                        </td>
                                        <td class="notice_td3">
                                            <span th:if="${notice.r_work_time !=null}"
                                                  th:text="|주 ${notice.r_work_time}시간|"></span>
                                            <span th:if="${notice.r_work_time_after != null}">면접 후 결정</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->
                    <!-- 버튼 클릭시 div가 바뀌는 부분-->
                    <div class="job-change">
                        <input type="radio" id="job-tab-1" name="show" checked/>
                        <input type="radio" id="job-tab-2" name="show"/>
                        <div class="job-tab">
                            <label for="job-tab-1">기업메시지</label>
                            <label for="job-tab-2">채용정보</label>
                        </div>
                        <div class="job-message">
                            <div class="job-message-dis">
                                <div class="job-post-details">
                                    <div class="detail_box">
                                        <p th:utext="${notice.r_detail}">기업메시지 넣으세요~</p>
                                    </div>
                                </div>
                                <div id="kakao-map" style="width:400px; height:300px;"></div>
                                <button type="button" id="button-map" style="display : none;">지도위치확인
                                </button>
                            </div>
                            <div class="job-message-dis">
                                <div class="job-post-details">
                                    <div class="post-details1 mb-50">
                                        <!-- Small Section Tittle -->
                                        <div class="small-section-tittle">
                                            <h4>상세내용</h4>
                                        </div>
                                        <div class="detail_box">
                                            <p th:utext="${notice.r_detail}">기업소개라고 합시다~</p>
                                        </div>
                                    </div>
                                    <div class="post-details1  mb-50">
                                        <!-- Small Section Tittle -->
                                        <div class="small-section-tittle">
                                            <h4>담당업무</h4>
                                        </div>
                                        <ul>
                                            <p th:text="${notice.r_business}"></p>
                                        </ul>
                                    </div>
                                    <div class="post-details1 mb-50">
                                        <!-- Small Section Tittle -->
                                        <div class="small-section-tittle">
                                            <h4>자격요건</h4>
                                        </div>
                                        <p th:text="${notice.r_license}">자격요건이에요~</p>
                                    </div>
                                    <!-- 디데이 계산기 -->
                                    <div class="post-details1 mb-50">
                                        <div class="card-group">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col align-self-center" id="dday">
                                                            <h3> 남은 기간 </h3>
                                                            <br>
                                                            <h4 id="demo"></h4>
                                                            <br>
                                                        </div>
                                                        <div class="col-8 align-self-center">
                                                            <div class="small-section-tittle h4">
                                                                <h4>담당자 정보</h4>
                                                            </div>
                                                            <table class="notice_table2">
                                                                <tr>
                                                                    <td class="notice_td1">&nbsp&nbsp이메일
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <span th:if="${notice.r_manager_email_public == '1'}"
                                                                              th:text="${notice.r_manager_email}"></span>
                                                                        <span th:unless="${notice.r_manager_email_public == '1'}">비공개</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="notice_td1">&nbsp&nbsp이름
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <span th:if="${notice.r_manager_name_public == '1'}"
                                                                              th:text="${notice.r_manager_name}"></span>
                                                                        <span th:unless="${notice.r_manager_name_public == '1'}">비공개</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="notice_td1">&nbsp&nbsp전화번호
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <span th:if="${notice.r_manager_phone_public == '1'}"
                                                                              th:text="|0${notice.r_manager_phone_first} - ${notice.r_manager_phone_second} - ${notice.r_manager_phone_third}|"></span>
                                                                        <span th:unless="${notice.r_manager_phone_public == '1'}">비공개</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 오른쪽 스크롤 메뉴 -->
                <div class="col-xl-3 col-lg-3">
                    <div class="post-details3 mb-50" id="slidemenu">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4 th:text="${notice.company_name}">회사이름</h4>
                        </div>
                        <ul>
                            <li><span th:text="${notice.r_title}"></span></li>
                            <li>공고 시작&nbsp:&nbsp<span th:text="${notice.r_open_date}">2022.12.06</span></li>
                            <li>공고 마감&nbsp:&nbsp<span th:text="${notice.r_close_date}"
                                                      class="deadline">12 Dec 2022</span></li>
                            <li id="expired"></li>
                        </ul>
                        <div class="apply-btn2">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                입사 지원
                            </button>
                        </div>
                        <!-- Button trigger modal -->

                    </div>
                    <div class="blog_right_sidebar">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
<footer>
    <!-- Footer Start-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <!-- Footer End-->
</footer>
<!-- D-day 계산기 -->
<script th:inline="javascript">
/*<![CDATA[*/
  const now = /*[[${notice.r_open_date}]]*/;
  const countDownDate = /*[[${notice.r_close_date}]]*/;

  nnow = new Date(now);
  ccount = new Date(countDownDate);

  const distance = ccount - nnow;

  const days = Math.floor(distance / (1000 * 60 * 60 * 24));

  document.getElementById("demo").innerHTML = days + "일";
  document.getElementById("expired").innerHTML = days + "일 남았습니다.";
/*]]>*/

</script>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></scrip >
            <script src="./js/popper.min.js">

</script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<!-- 따라다니는 메뉴 -->
<script src="/js/quickmenu.js"></script>

<!-- 카카오맵-->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac752e8987937c47d4968465e562e320&libraries=services,clusterer,drawing"></script>
<script th:inline="javascript">
 /*<![CDATA[*/
    $(document).ready(function(){

    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('kakao-map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    //검색어

    if (/*[[${notice.company_name}]]*/ != null){
        var addr = /*[[${notice.company_name}]]*/
    }

    // 키워드로 장소를 검색합니다
    ps.keywordSearch(addr, placesSearchCB);

    $("#button-map").on("click", function(){
        addr = $("#addr-box").val();
        $("#kakao-map").html("");
        map = new kakao.maps.Map(mapContainer, mapOption);
        ps.keywordSearch(addr, placesSearchCB);
    })


    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }else{
            alert("장소를 다시 입력해주세요")
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
})
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
/*]]>*/
</script>
</body>

</html>