<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bomnal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login-style.css">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/logo.png"  alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
</header>
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">

        </div>
    </div>
    <!-- slider Area End-->

    <!-- Our Services Start -->
    <div class="our-services">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <hr style="border: solid 1px skyblue;">
                        <span>sign up page</span>
                        <div>
                            <div class="out-div-box" style="padding-top: 0px !important; ">
                                <form id="loginform" th:action="@{/signup_com}" th:object="${Login_ComVO}" method="POST" style="display: inline-block;">
                                    <div class="center-signup-div ">

                                        <div style="padding-left: 88px;">
                                            <div class="signup-input-box">
                                                <input id="com_num" type="text" th:field="*{company_bno}" placeholder="사업자 등록번호" >
                                                <label for="com_num" style="width: auto;">사업자 등록번호 </label>
                                            </div>
                                            <button id="com_num_check" class="sm-button" type="button"> 상태확인 </button>
                                        </div>
                                        <div style="padding-left: 88px;">
                                            <div class="signup-input-box">
                                                <input id="user_id" type="text" th:field="*{company_id}" placeholder="아이디" >
                                                <label for="user_id">아이디</label>
                                            </div>
                                            <button id="user_id_check" class="sm-button" type="button"> 중복확인 </button>
                                        </div>
                                        <div >
                                            <div class="signup-input-box">
                                                <input id="company_name" type="text" th:field="*{company_name}" placeholder="회사명">
                                                <label for="company_name">회사명</label>
                                            </div>
                                        </div>
                                        <div >
                                            <div class="signup-input-box">
                                                <input id="pwd" type="password" name="pwd" placeholder="비밀번호">
                                                <label for="pwd">비밀번호</label>
                                            </div>
                                        </div>
                                        <div style="display:inline-block;">
                                            <div class="signup-input-box" style="display:block;">
                                                <input id="check_pwd" type="password" th:field="*{company_pw}" placeholder="비밀번호 확인" oninput="real_check_pwd()">
                                                <label for="check_pwd">비밀번호 확인</label>
                                            </div>
                                            <div class="signup-input-box" style="text-align:left !important; margin:0px !important; display:block;">
                                                <p id="check_pwd_ptag" style="visibility: visible; margin:0px !important;"> ✔ 비밀번호를 입력해주세요. </p>
                                            </div>
                                        </div>


                                        <div >
                                            <div class="signup-input-box">
                                                <input id="company_phone" type="text" th:field="*{company_phone}" placeholder="전화번호">
                                                <label for="company_phone">전화번호</label>
                                            </div>
                                        </div>
                                        <div >
                                            <div class="signup-input-box">
                                                <input id="company_email" type="text" th:field="*{company_email}" placeholder="이메일">
                                                <label for="company_email">이메일</label>
                                            </div>
                                        </div>
                                        <div >
                                            <div class="signup-input-box">
                                                <input id="company_addrcompany" type="text" th:field="*{company_addrcompany}" placeholder="회사주소">
                                                <label for="company_addrcompany">회사주소</label>
                                            </div>
                                        </div>


                                        <div class="center-agree-div mt-50" style="display: inline-block; padding: 20px 0px 0px 0px !important;">
                                            <div>
                                                <p style="margin: 0;"><input type="checkbox" id="total_checkbox" onclick="all_check()"> 전체 동의 </p>
                                            </div>
                                            <hr style="border: solid 1px rgb(53, 114, 138); width: 450px; display: inline-block; margin: 0px 0px 10px 0px;">
                                            <div style="display: inline-block; text-align: left;">
                                                <p><input type="checkbox" id="c_agreement1" th:field="*{c_agreement1}" value="Y"> (필수) 기업회원 약관에 동의 ✔ </p>
                                                <p><input type="checkbox" id="c_agreement2" th:field="*{c_agreement2}" value="Y"> (필수) 개인정보 수집 및 이용에 동의 ✔ </p>
                                                <p><input type="checkbox" id="c_agreement3" th:field="*{c_agreement3}" value="Y"> (필수) SMS 발송 서비스 약관에 동의 ✔ </p>
                                                <p><input type="checkbox" id="c_agreement4" th:field="*{c_agreement4}" value="Y"> (선택) 마케팅 정보 수신 동의 - 이메일 </p>
                                                <p><input type="checkbox" id="c_agreement5" th:field="*{c_agreement5}" value="Y"> (선택) 위치기반서비스 이용약관에 동의 </p>
                                            </div>
                                            <div style="display: inline-block; padding-left: 100px;">
                                                <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                            </div>
                                        </div>

                                        <div class="center-agree-div mt-30" style="display: inline-block; padding: 20px 0px 0px 0px !important;">
                                            ✔ 정보보유기간 <br><br>
                                            <input type="radio" id="radio_1" th:field="*{c_agreement6}" value="0"> 탈퇴시 &nbsp&nbsp&nbsp <input type="radio" id="radio_2" th:field="*{c_agreement6}" value="5"> 5년 &nbsp&nbsp&nbsp <input type="radio" id="radio_3" th:field="*{c_agreement6}" value="3"> 3년 &nbsp&nbsp&nbsp <input type="radio" id="radio_4" th:field="*{c_agreement6}" value="1"> 1년
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center">

            </div>
            <!-- More Btn -->
            <!-- Section Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="browse-btn2 text-center mt-50">
                        <a href="#" id="sign_up_btn" class="border-btn2" type="button" onclick="sign_check_box()">Sign up</a>
                        <a href="/loginform" class="border-btn2">Cancle</a>
                    </div>
                    <div class="browse-btn2 text-center">
                        <hr style="border: solid 1px skyblue;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->




</main>
<footer>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<script>

    $(function(){

        $("#radio_1").on('change', function(){
            $("#radio_2").prop("checked", false);
            $("#radio_3").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_2").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_3").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_3").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_2").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_4").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_2").prop("checked", false);
            $("#radio_3").prop("checked", false);
        });

        $('#com_num_check').click(function(){
            var check_val = $('#com_num').val();
            var data = {
                "b_no": [check_val] // 사업자번호 "xxxxxxx" 로 조회 시,
            };

            $.ajax({
              url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=WTuu0W1dJ4sq7hoRYcDCgKcHRQUaf6UajpAF8xtP%2Fv8PGrKCBEEhgvR5kauONv8s9PxPVjClHgy2mjAzNxB%2Fyw%3D%3D",  // serviceKey 값을 xxxxxx에 입력
              type: "POST",
              data: JSON.stringify(data), // json 을 string으로 변환하여 전송
              dataType: "JSON",
              contentType: "application/json",
              accept: "application/json",
              success: function(result) {
                  var name = result.data[0].tax_type;
                  if (name === ""){
                    alert("올바른 사업자 등록번호를 입력해주세요.");
                  } else if (name === "국세청에 등록되지 않은 사업자등록번호입니다."){
                    alert(name);
                    $('#com_num').val("");
                  } else {
                    alert("'"+ name + "'로 사용할 수 있는 사업자등록번호입니다.");
                  }
              },
              error: function(result) {
                  console.log(result.responseText); //responseText의 에러메세지 확인
              }
            });
        });

        $("#user_id_check").on('click',()=>{
            var check_val = $('#user_id').val();
            $.ajax({
                url: '/login_id_check_com',
                type: 'POST',
                data: {insert_id: check_val},
                success: function(data){
                    console.log(data + " : success");
                    if (check_val == "" || check_val.length < 5) {
                        alert("아이디로 사용할 단어를 5자 이상 입력해주세요.");
                    } else if (check_val == data){
                        alert("중복된 아이디 입니다.");
                        $('#user_id').val("");
                    } else {
                        alert("사용할 수 있는 아이디 입니다.");
                    }
                },
                error : function(data){
                    console.log(data + "error");
                }
            });
        });

        $("#pwd").on('change', ()=>{
            console.log("password check!!");
        });

    });

    function real_check_pwd() {
        var pwd = $("#pwd").val();
        var cpwd = $("#check_pwd").val();

        if (cpwd == "") {
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style='visibility: visible; text-align: left !important; margin:0px !important;'> ✔ 비밀번호를 입력해주세요. </p>" );
        }else if (pwd==cpwd){
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style=' color: green; visibility: visible; text-align: left !important; margin:0px !important;'> 비밀번호가 일치 합니다! </p>" );
        } else {
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style=' color: red; visibility: visible; text-align: left !important; margin:0px !important;'> 비밀번호가 일치하지 않습니다! </p>" );
        }
    };

    function all_check(){
        var total = $("#total_checkbox").is(":checked");
        if (total == true) {
            $("#c_agreement1").prop("checked", true);
            $("#c_agreement2").prop("checked", true);
            $("#c_agreement3").prop("checked", true);
            $("#c_agreement4").prop("checked", true);
            $("#c_agreement5").prop("checked", true);
        } else if (total == false) {
            $("#c_agreement1").prop("checked", false);
            $("#c_agreement2").prop("checked", false);
            $("#c_agreement3").prop("checked", false);
            $("#c_agreement4").prop("checked", false);
            $("#c_agreement5").prop("checked", false);
        }
    }

    function sign_check_box() {
        var check1 = $("#c_agreement1").is(":checked");
        var check2 = $("#c_agreement2").is(":checked");
        var check3 = $("#c_agreement3").is(":checked");

        var radio1 = $("#radio_1").is(":checked");
        var radio2 = $("#radio_2").is(":checked");
        var radio3 = $("#radio_3").is(":checked");
        var radio4 = $("#radio_4").is(":checked");

        if (check1 == true && check2 == true && check3 == true && (radio1 == true || radio2 == true || radio3 == true|| radio4 == true) ){
            document.getElementById("loginform").submit();
        } else {
            alert("약관동의 및 정보보유기간을 체크해주세요.");
            return false;
        };
    };


</script>

</body>
</html>