<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login-style.css">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/logo.png"  alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo/logo.png"  alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="job_listing.html">Find a Jobs </a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="#">Page</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="job_details.html">job Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">
                                <a href="#" class="btn head-btn1">Register</a>
                                <a href="#" class="btn head-btn2">Login</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">

        </div>
    </div>
    <!-- slider Area End-->

    <!-- Our Services Start -->
    <div class="our-services">
        <div class="container">
            <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <hr style="border: solid 1px skyblue;">
                            <span>sign up page</span>
                            <div>
                                <div class="out-div-box" style="padding-top: 0px !important;">
                                    <form id="loginform" th:action="@{/signup_per}" th:object="${loginVO}" method="POST" style="display: inline-block;">
                                        <div class="center-signup-div ">
                                            <div>
                                                <div class="signup-input-box">
                                                    <input id="mem_id" type="text" th:field="*{mem_id}" placeholder="아이디" >
                                                    <label for="mem_id">아이디</label>
                                                </div>
                                                <button id="id_check_btn" type="button" class="button"> 중복확인 </button>
                                            </div>
                                            <div style="padding-right: 110px;">
                                                <div class="signup-input-box">
                                                    <input id="pwd" type="password" name="pwd" placeholder="비밀번호">
                                                    <label for="pwd">비밀번호</label>
                                                </div>
                                            </div>
                                            <div style="padding-right: 110px;">
                                                <div class="signup-input-box">
                                                    <input id="mem_pw" type="password" th:field="*{mem_pw}" placeholder="비밀번호 확인" oninput="real_check_pwd()">
                                                    <label for="mem_pw">비밀번호 확인</label>
                                                </div>
                                                <div class="signup-input-box" style="text-align:left !important; margin:0px !important;">
                                                    <p id="check_pwd_ptag" style="visibility: visible; margin:0px !important;"> 🗝️비밀번호를 입력해주세요. </p>
                                                </div>
                                            </div>
                                            <div style="padding-right: 110px;">
                                                <div class="signup-input-box">
                                                    <input id="mem_name" type="text" th:field="*{mem_name}" placeholder="이름">
                                                    <label for="mem_name">이름</label>
                                                </div>
                                            </div>
                                            <div style="padding-right: 110px;">
                                                <div class="signup-input-box">
                                                    <input id="mem_bdate" type="date" th:field="*{mem_bdate}" placeholder="생년월일">
                                                    <label for="mem_bdate">생년월일</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="signup-input-box">
                                                    <input id="mem_phone" type="text" th:field="*{mem_phone}" placeholder="휴대폰">
                                                    <label for="mem_phone">휴대폰</label>
                                                </div>
                                                <button id="phone_check_btn" type="button" class="button"> 인증요청 </button>
                                            </div>
                                            <div style="padding-right: 110px;">
                                                <div class="signup-input-box">
                                                    <input id="mem_email" type="email" th:field="*{mem_email}" placeholder="이메일">
                                                    <label for="mem_email">이메일</label>
                                                    ❗취업에 관련된 정보를 받을 때 필요해요
                                                </div>
                                            </div>

                                            <div class="center-agree-div mt-50" style="display: inline-block; padding: 20px 0px 0px 0px !important;">
                                                <div>
                                                    <p style="margin: 0;"><input type="checkbox" id="total_checkbox" onclick="all_check()"> 전체 동의 </p>
                                                </div>
                                                <hr style="border: solid 1px rgb(53, 114, 138); width: 450px; display: inline-block; margin: 0px 0px 10px 0px;">
                                                <div style="display: inline-block; text-align: left;">
                                                    <p><input type="checkbox" id="m_agreement1" th:field="*{m_agreement1}" value="Y"> (필수) 개인회원 약관에 동의 </p>
                                                    <p><input type="checkbox" id="m_agreement2" th:field="*{m_agreement2}" value="Y"> (필수) 개인정보 수집 및 이용에 동의 </p>
                                                    <p><input type="checkbox" id="m_agreement3" th:field="*{m_agreement3}" value="Y"> (선택) 위치기반서비스 이용약관에 동의 </p>
                                                    <p><input type="checkbox" id="m_agreement4" th:field="*{m_agreement4}" value="Y"> (선택) 마케팅 정보 수신 동의 - 이메일 </p>
                                                    <p><input type="checkbox" id="m_agreement5" th:field="*{m_agreement5}" value="Y"> (선택) 마케팅 정보 수신 동의 - SMS/MMS </p>
                                                </div>
                                                <div style="display: inline-block; padding-left: 100px;">
                                                    <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                    <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                    <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                    <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                    <P><a href="#" style="color: black; display: block;"> ▶ </a></P>
                                                </div>
                                            </div>

                                            <div class="center-agree-div mt-30" style="display: inline-block; padding: 20px 0px 0px 0px !important;">
                                                ❗정보보유기간 <br><br>
                                                <input type="radio" id="radio_1" th:field="*{m_agreement6}" value="0"> 탈퇴시 &nbsp&nbsp&nbsp <input type="radio" id="radio_2" th:field="*{m_agreement6}" value="5"> 5년 &nbsp&nbsp&nbsp <input type="radio" id="radio_3" th:field="*{m_agreement6}" value="3"> 3년 &nbsp&nbsp&nbsp <input type="radio" id="radio_4" th:field="*{m_agreement6}" value="1"> 1년
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">

                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <!-- <a href="/sign_com" class="border-btn2" type="submit" onclick="document.getElementById('loginform').submit()">Sign up</a> -->
                            <a href="#" id="sign_up_btn" class="border-btn2" type="button" onclick="sign_check_box()">Sign up</a>
                            <a href="/loginform" class="border-btn2">Cancle</a>
                        </div>
                        <div class="browse-btn2 text-center">
                            <hr style="border: solid 1px skyblue;">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Our Services End -->




</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <p>Address :Your address goes
                                        here, your demo address.</p>
                                </li>
                                <li><a href="#">Phone : +8880 44338899</a></li>
                                <li><a href="#">Email : info@colorlib.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Important Link</h4>
                            <ul>
                                <li><a href="#"> View Project</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Proparties</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Newsletter</h4>
                            <div class="footer-pera footer-pera2">
                                <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form" >
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                          method="get" class="subscribe_form relative mail_part">

                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row footer-wejed justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <!-- logo -->
                    <div class="footer-logo mb-20">
                        <a href="index.html"><img src="/img/logo/logo2_footer.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>5000+</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>451</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <!-- Footer Bottom Tittle -->
                    <div class="footer-tittle-bottom">
                        <span>568</span>
                        <p>Talented Hunter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<script>

    $(function(){

        $("#radio_1").on('change', function(){
            $("#radio_2").prop("checked", false);
            $("#radio_3").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_2").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_3").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_3").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_2").prop("checked", false);
            $("#radio_4").prop("checked", false);
        });
        $("#radio_4").on('change', function(){
            $("#radio_1").prop("checked", false);
            $("#radio_2").prop("checked", false);
            $("#radio_3").prop("checked", false);
        });


        <!--$("#pwd").addEventListener("change", mem_pw);-->

        $("#id_check_btn").on('click',()=>{
            var check_val = $('#mem_id').val();
            $.ajax({
                url: '/login_id_check_per',
                type: 'POST',
                data: {insert_id: check_val},
                success: function(data){
                    console.log(data + " : success");
                    if (check_val == "" || check_val.length < 5){
                        alert("아이디로 사용할 단어를 5자 이상 입력해주세요.");
                    } else if (check_val == data){
                        alert("중복된 아이디 입니다.");
                        $('#mem_id').val("");
                    } else {
                        alert("사용할 수 있는 아이디 입니다.");
                    }
                },
                error : function(data){
                    console.log(data + "error");
                }
            });
        });

        $("#phone_check_btn").on('click', ()=>{
            console.log("핸드폰 인증 API");
        });

    });

    function real_check_pwd() {
        var pwd = $("#pwd").val();
        var cpwd = $("#mem_pw").val();

        if (cpwd == "") {
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style='visibility: visible; text-align: left !important; margin:0px !important;'> 🗝️확인 비밀번호를 입력해주세요. </p>" );
        }else if (pwd==cpwd){
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style='visibility: visible; text-align: left !important; margin:0px !important;'> 🔑비밀번호가 일치 합니다! </p>" );
        } else {
            $("#check_pwd_ptag").html( "<p id='check_pwd_ptag' style='visibility: visible; text-align: left !important; margin:0px !important;'> ❗비밀번호가 일치하지 않습니다! </p>" );
        }
    };

    function all_check(){
        var total = $("#total_checkbox").is(":checked");
        if (total == true) {
            $("#m_agreement1").prop("checked", true);
            $("#m_agreement2").prop("checked", true);
            $("#m_agreement3").prop("checked", true);
            $("#m_agreement4").prop("checked", true);
            $("#m_agreement5").prop("checked", true);
        } else if (total == false) {
            $("#m_agreement1").prop("checked", false);
            $("#m_agreement2").prop("checked", false);
            $("#m_agreement3").prop("checked", false);
            $("#m_agreement4").prop("checked", false);
            $("#m_agreement5").prop("checked", false);
        }
    }

    function sign_check_box() {
        var check1 = $("#m_agreement1").is(":checked");
        var check2 = $("#m_agreement2").is(":checked");

        var radio1 = $("#radio_1").is(":checked");
        var radio2 = $("#radio_2").is(":checked");
        var radio3 = $("#radio_3").is(":checked");
        var radio4 = $("#radio_4").is(":checked");

        if (check1 == true && check2 == true && (radio1 == true || radio2 == true || radio3 == true|| radio4 == true) ){
            document.getElementById("loginform").submit();
        } else {
            alert("필수동의 및 정보보유기간을 체크해주세요.");
            return false;
        };
    };

</script>

</body>
</html>